{
  "openapi": "3.0.0",
  "info": {
    "description": "This document provides an API reference, grouped by function, describing how to use the Console Connect REST API.\nProducts available through the Console Connect API include:\n* [Ports](#tag/Ports) - A port allows customers to access multiple on-demand Console Connect services, including access to cloud services, geographically separate networks (such as remote or branch offices) and the Internet, via a single network connection. \n* [L2 Connections](#tag/L2-Connections) - Console Connect's point-to-point Layer 2 connection is a secured virtual private Ethernet service, transported via a fully redundant Multi-Protocol Label Switching (MPLS) enabled IP infrastructure provided by Console Connect.\n* [Internet On-Demand (IO-D)](#tag/Internet-On-Demand-(IO-D)) - The IO-D service is carried on a fully redundant dual-stack global IP network, providing business-grade internet connectivity for enterprises and service providers.\n* [CloudRouter](#tag/CloudRouter) - CloudRouter is an MPLS VPN IP based infrastructure service which provides a private Layer 3 meshed network between multiple locations and network endpoints globally for enterprises and service providers.",
    "title": "Console Connect API",
    "version": "1.0.0",
    "license": {
      "name": "Commercial",
      "url": "https://www.consoleconnect.com/terms-of-use"
    },
    "termsOfService": "https://www.consoleconnect.com/terms-of-use",
    "x-logo": {
      "url": "https://storage.googleapis.com/console-connect-static-assets/cc-api-logo.jpg",
      "altText": "Console Connect logo"
    },
    "contact": {
      "name": "Console Connect Support",
      "email": "support@consoleconnect.com"
    }
  },
  "servers": [
    {
      "url": "https://api.consoleconnect.com"
    }
  ],
  "paths": {
    "/api/auth/token": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "summary": "Full response data",
                    "value": {
                      "id": "669xxxxxxxxxxxxxxxxxxxxx",
                      "companies": [
                        {
                          "id": "5daxxxxxxxxxxxxxxxxxxxxx",
                          "username": "samplecompanyname",
                          "officeAddress": null,
                          "system": {
                            "welcomeMessage": null
                          },
                          "company": {
                            "privacy": {
                              "network": {
                                "mode": "PRIVATE",
                                "blackListIds": [],
                                "whiteListIds": ["66aad8c7caac3ecbecbd8790"]
                              },
                              "community": {
                                "mode": "PRIVATE",
                                "blackListIds": [],
                                "whiteListIds": ["66aad8de1c740284bf0b2148"]
                              }
                            },
                            "industry": null,
                            "partnerType": null,
                            "companySize": null,
                            "dateFounded": null,
                            "businessRegistrationCertRejectedReason": null,
                            "clientId": null,
                            "first": null,
                            "last": null,
                            "address": null,
                            "city": null,
                            "state": null,
                            "zip": null,
                            "phone": null,
                            "fax": null,
                            "emailDomains": ["email.com"],
                            "website": "email.com",
                            "businessType": "Internal",
                            "registeredName": "Some Registered Name",
                            "addresses": [
                              {
                                "geo": {
                                  "type": "Point",
                                  "coordinates": []
                                },
                                "registered": true,
                                "address": "123/F, Address street",
                                "city": "City",
                                "state": null,
                                "zip": "123456",
                                "country": "Country",
                                "email": null,
                                "phone": null
                              }
                            ],
                            "businessRegistrationCertVerified": "UNVERIFIED",
                            "regionalInternetRegistry": [],
                            "businessDevelopmentManagerTypePreference": "DATA",
                            "isIoTDemoCompany": false,
                            "businessRegistrationCertReference": "5d1xxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                            "businessRegistrationCertUploadedAt": "2024-03-28T14:02:43.261Z",
                            "isSDWAN": false
                          },
                          "cloudProviderDetails": {
                            "asn": {
                              "range": []
                            },
                            "bgpAuthority": "PCCWGLOBAL",
                            "companyType": "DCP"
                          },
                          "stats": {
                            "members": 25,
                            "interconnections": 0,
                            "followers": 0,
                            "following": 0,
                            "privateArticles": 0,
                            "privateEvents": 0,
                            "privatePosts": 0,
                            "articles": 1,
                            "events": 0,
                            "posts": 0
                          },
                          "overviewImage": null,
                          "accountManagerEmail": null,
                          "accountManagerId": null,
                          "createdAt": "2019-10-16T09:24:25.171Z",
                          "updatedAt": "2024-07-23T10:54:07.146Z",
                          "deletedAt": null,
                          "deleted": false,
                          "verified": true,
                          "tags": ["Analytics"],
                          "status": "ACTIVE",
                          "displayOrder": 0,
                          "groups": [],
                          "location": null,
                          "summary": "",
                          "headline": null,
                          "background": "667xxxxxxxxxxxxxxxxxxxxx",
                          "avatarId": "5f8xxxxxxxxxxxxxxxxxxxxx",
                          "name": "Sample Company Name",
                          "type": "COMPANY",
                          "oldAvatarId": "5e3xxxxxxxxxxxxxxxxxxxxx",
                          "verifiedIdentity": true,
                          "defaultPaymentType": "invoice",
                          "portsPending": 0,
                          "portsActive": 4,
                          "portsDisabled": 0,
                          "categories": ["NaaS", "Enterprise"],
                          "isCloudProvider": false,
                          "signedCompanyRefId": 12,
                          "signedCompanyVerified": true,
                          "businessRegistrationNumber": "317xxxxx-xxx-xx-xx-x",
                          "companies": [],
                          "online": false,
                          "isFollowing": false,
                          "isFollowee": false,
                          "linkUserCompany": {}
                        }
                      ],
                      "linkUserCompany": {
                        "5daxxxxxxxxxxxxxxxxxxxxx": {
                          "state": "ACTIVE",
                          "deleted": false,
                          "id": "669xxxxxxxxxxxxxxxxxxxxx",
                          "userId": "669xxxxxxxxxxxxxxxxxxxxx",
                          "companyId": "5daxxxxxxxxxxxxxxxxxxxxx",
                          "roleIds": [
                            "66aada952027420ab258aecd",
                            "66aada9ad8cf4a2092ee6f67"
                          ],
                          "deletedAt": null,
                          "createdAt": "2024-07-12T08:27:08.033Z",
                          "updatedAt": "2024-07-12T08:40:48.135Z",
                          "roles": ["NETWORKCONTROL", "USER"],
                          "permissions": {
                            "roles": [
                              {
                                "name": "NETWORKCONTROL",
                                "display": "Network Admin",
                                "icon": "flow switch",
                                "keyholder": false,
                                "visible": true,
                                "shieldOnly": false,
                                "systemDefault": false,
                                "unauthenticatedSystemDefault": false,
                                "id": "55exxxxxxxxxxxxxxxxxxxxx",
                                "deletedAt": null,
                                "displayOrder": -299,
                                "description": "A Network Admin may create, edit, remove, and otherwise manage all of your company's ports, connections and virtual routers",
                                "tags": ["networkadmin", "console"],
                                "createdAt": "2015-09-30T04:00:00.000Z",
                                "updatedAt": "2024-05-08T06:57:07.109Z",
                                "policyIds": ["66aadac907cf5d784e8798a0"],
                                "deleted": false,
                                "permissions": {
                                  "company-actions": false,
                                  "company-update": false,
                                  "connection-create": true,
                                  "connection-delete": true,
                                  "connection-modify": true,
                                  "connection-read": true,
                                  "order-create": true,
                                  "order-delete": true,
                                  "order-modify": true,
                                  "order-query": true,
                                  "ports-edit": true,
                                  "ports-read": true,
                                  "user-moderation": false
                                },
                                "permissionIds": ["66aadbb9b80425a0177b2aae"],
                                "queryable": true,
                                "companyIds": [],
                                "readOnly": false,
                                "policies": [
                                  {
                                    "name": "Console - Network read and write",
                                    "description": "Close Support Tickets for Console Users",
                                    "definition": {
                                      "Statement": [
                                        {
                                          "Action": [
                                            "product:DeleteSupportTicket"
                                          ],
                                          "Resource": [
                                            "rn:cc-api:product::${cc:accountId}:*"
                                          ],
                                          "Effect": "Allow",
                                          "Sid": "ProductDeleteSupportTicket"
                                        }
                                      ]
                                    },
                                    "id": "66aadac907cf5d784e8798a0",
                                    "deletedAt": null
                                  }
                                ]
                              },
                              {
                                "name": "USER",
                                "display": "Company Member",
                                "icon": "user outline",
                                "keyholder": false,
                                "visible": true,
                                "shieldOnly": false,
                                "systemDefault": false,
                                "unauthenticatedSystemDefault": false,
                                "id": "55exxxxxxxxxxxxxxxxxxxxx",
                                "deletedAt": null,
                                "displayOrder": 300,
                                "description": "A Member is associated with your company but may not edit company profile information or view company network information",
                                "tags": ["console"],
                                "createdAt": "2015-09-03T06:48:40.377Z",
                                "updatedAt": "2024-04-02T07:11:45.902Z",
                                "policyIds": ["66aade651799c8f777e26ec9"],
                                "deleted": false,
                                "permissions": {
                                  "company-actions": false,
                                  "company-update": false,
                                  "connection-create": false,
                                  "connection-delete": false,
                                  "connection-modify": false,
                                  "connection-read": false,
                                  "order-create": false,
                                  "order-delete": false,
                                  "order-modify": false,
                                  "order-query": false,
                                  "ports-edit": false,
                                  "ports-read": false,
                                  "user-moderation": false
                                },
                                "queryable": false,
                                "permissionIds": [],
                                "companyIds": [],
                                "readOnly": true,
                                "policies": [
                                  {
                                    "name": "Console  - Company Members Read",
                                    "description": "Feature - ZScalerOrder",
                                    "definition": {
                                      "Statement": [
                                        {
                                          "Action": [
                                            "feature:EnableZScalerOrder"
                                          ],
                                          "Resource": ["*"],
                                          "Effect": "Allow",
                                          "Sid": "enable-zscaler-order"
                                        }
                                      ]
                                    },
                                    "id": "66aade80e5efc037d719edce",
                                    "deletedAt": null
                                  }
                                ]
                              }
                            ],
                            "groups": {
                              "NETWORKCONTROL": {
                                "company-actions": false,
                                "company-update": false,
                                "connection-create": true,
                                "connection-delete": true,
                                "connection-modify": true,
                                "connection-read": true,
                                "order-create": true,
                                "order-delete": true,
                                "order-modify": true,
                                "order-query": true,
                                "ports-edit": true,
                                "ports-read": true,
                                "user-moderation": false
                              },
                              "USER": {
                                "company-actions": false,
                                "company-update": false,
                                "connection-create": false,
                                "connection-delete": false,
                                "connection-modify": false,
                                "connection-read": false,
                                "order-create": false,
                                "order-delete": false,
                                "order-modify": false,
                                "order-query": false,
                                "ports-edit": false,
                                "ports-read": false,
                                "user-moderation": false
                              }
                            }
                          }
                        }
                      },
                      "capabilities": {
                        "layer2": false,
                        "layer2Metros": [],
                        "layer2Regions": []
                      },
                      "system": {
                        "welcomeMessage": null
                      },
                      "cloudProviderDetails": {
                        "asn": {
                          "range": []
                        },
                        "companyType": "DCP",
                        "bgpAuthority": "PCCWGLOBAL"
                      },
                      "settings": {
                        "alertMeWhenNewFollower": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCompanyNewFollower": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenMentionedInPost": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCompanyMentionedInPost": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCompanyMemberMentionedInPost": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCommentInPost": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCommentInPostByCompany": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCommentInPostByCompanyMember": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenJoinCompanyRequest": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenJoinCompany": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenInterconnectRequest": {
                          "category": "network",
                          "option": true
                        },
                        "alertMeWhenCompanyJoinsConsole": {
                          "category": "network",
                          "option": true
                        },
                        "alertMeWhenNetworkRelatedEvent": {
                          "category": "network",
                          "option": true
                        },
                        "dismissPlanChangeMessage": {
                          "category": "hidden",
                          "option": true
                        },
                        "alertWhenKeywordsMentioned": {
                          "category": "communityAndMessages",
                          "option": [],
                          "enabled": true
                        },
                        "emailWhenMessageReceived": {
                          "category": "communityAndMessages",
                          "option": "ALL"
                        }
                      },
                      "stats": {
                        "posts": 0,
                        "events": 0,
                        "articles": 0,
                        "privatePosts": 0,
                        "privateEvents": 0,
                        "privateArticles": 0,
                        "following": 1,
                        "followers": 0,
                        "interconnections": 0,
                        "members": 0
                      },
                      "type": "PERSON",
                      "name": "Sample Full Name",
                      "email": "sample.email@email.com",
                      "avatarId": null,
                      "background": null,
                      "overviewImage": null,
                      "headline": "Sample Headline",
                      "summary": null,
                      "legalEntityId": null,
                      "location": null,
                      "passwordUpdatedAt": null,
                      "canInviteExternal": false,
                      "optIntoMarketingEmail": false,
                      "groups": [],
                      "following": ["5a0xxxxxxxxxxxxxxxxxxxxx"],
                      "phone": null,
                      "needsEmailVerification": false,
                      "newEmail": null,
                      "displayOrder": -299,
                      "newEmailTokenCreatedAt": null,
                      "status": "ACTIVE",
                      "tags": [],
                      "categories": [],
                      "verified": false,
                      "verifiedIdentity": false,
                      "deleted": false,
                      "deletedAt": null,
                      "businessRegistrationNumber": null,
                      "isCloudProvider": false,
                      "signedCompanyRefId": null,
                      "signedCompanyVerified": false,
                      "accountManagerEmail": null,
                      "accountManagerId": null,
                      "username": "sampleusername",
                      "updatedAt": "2024-07-19T08:15:22.521Z",
                      "createdAt": "2024-07-12T05:31:06.475Z",
                      "lastLoggedIn": "2024-07-19T08:15:22.521Z",
                      "online": false,
                      "token": null,
                      "hasAcceptedConsoleTermsOfUse": true
                    }
                  },
                  "Get-Company-Details": {
                    "summary": "Get companyId (id) and companyName (username)",
                    "value": {
                      "companies": [
                        {
                          "id": "5daxxxxxxxxxxxxxxxxxxxxx",
                          "username": "samplecompanyname",
                          "officeAddress": null,
                          "system": {
                            "welcomeMessage": null
                          },
                          "company": {
                            "privacy": {
                              "network": {
                                "mode": "PRIVATE",
                                "blackListIds": [],
                                "whiteListIds": ["66aad8c7caac3ecbecbd8790"]
                              },
                              "community": {
                                "mode": "PRIVATE",
                                "blackListIds": [],
                                "whiteListIds": ["66aad8de1c740284bf0b2148"]
                              }
                            },
                            "industry": null,
                            "partnerType": null,
                            "companySize": null,
                            "dateFounded": null,
                            "businessRegistrationCertRejectedReason": null,
                            "clientId": null,
                            "first": null,
                            "last": null,
                            "address": null,
                            "city": null,
                            "state": null,
                            "zip": null,
                            "phone": null,
                            "fax": null,
                            "emailDomains": ["email.com"],
                            "website": "email.com",
                            "businessType": "Internal",
                            "registeredName": "Some Registered Name",
                            "addresses": [
                              {
                                "geo": {
                                  "type": "Point",
                                  "coordinates": []
                                },
                                "registered": true,
                                "address": "123/F, Address street",
                                "city": "City",
                                "state": null,
                                "zip": "123456",
                                "country": "GB",
                                "email": null,
                                "phone": null
                              }
                            ],
                            "businessRegistrationCertVerified": "UNVERIFIED",
                            "regionalInternetRegistry": [],
                            "businessDevelopmentManagerTypePreference": "DATA",
                            "isIoTDemoCompany": false,
                            "businessRegistrationCertReference": "5d1xxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                            "businessRegistrationCertUploadedAt": "2024-03-28T14:02:43.261Z",
                            "isSDWAN": false
                          },
                          "cloudProviderDetails": {
                            "asn": {
                              "range": []
                            },
                            "bgpAuthority": "PCCWGLOBAL",
                            "companyType": "DCP"
                          },
                          "stats": {
                            "members": 25,
                            "interconnections": 0,
                            "followers": 0,
                            "following": 0,
                            "privateArticles": 0,
                            "privateEvents": 0,
                            "privatePosts": 0,
                            "articles": 1,
                            "events": 0,
                            "posts": 0
                          },
                          "overviewImage": null,
                          "accountManagerEmail": null,
                          "accountManagerId": null,
                          "createdAt": "2019-10-16T09:24:25.171Z",
                          "updatedAt": "2024-07-23T10:54:07.146Z",
                          "deletedAt": null,
                          "deleted": false,
                          "verified": true,
                          "tags": ["Analytics"],
                          "status": "ACTIVE",
                          "displayOrder": 0,
                          "groups": [],
                          "location": null,
                          "summary": "",
                          "headline": null,
                          "background": "667xxxxxxxxxxxxxxxxxxxxx",
                          "avatarId": "5f8xxxxxxxxxxxxxxxxxxxxx",
                          "name": "Sample Company Name",
                          "type": "COMPANY",
                          "oldAvatarId": "5e3xxxxxxxxxxxxxxxxxxxxx",
                          "verifiedIdentity": true,
                          "defaultPaymentType": "invoice",
                          "portsPending": 0,
                          "portsActive": 4,
                          "portsDisabled": 0,
                          "categories": ["NaaS", "Enterprise"],
                          "isCloudProvider": false,
                          "signedCompanyRefId": 12,
                          "signedCompanyVerified": true,
                          "businessRegistrationNumber": "317xxxxx-xxx-xx-xx-x",
                          "companies": [],
                          "online": false,
                          "isFollowing": false,
                          "isFollowee": false,
                          "linkUserCompany": {}
                        }
                      ]
                    }
                  },
                  "Get-User-Roles": {
                    "summary": "Get User Roles under linkUserCompany.roles",
                    "value": {
                      "linkUserCompany": {
                        "5daxxxxxxxxxxxxxxxxxxxxx": {
                          "state": "ACTIVE",
                          "deleted": false,
                          "id": "669xxxxxxxxxxxxxxxxxxxxx",
                          "userId": "669xxxxxxxxxxxxxxxxxxxxx",
                          "companyId": "5daxxxxxxxxxxxxxxxxxxxxx",
                          "roleIds": [
                            "66aada952027420ab258aecd",
                            "66aada9ad8cf4a2092ee6f67"
                          ],
                          "deletedAt": null,
                          "createdAt": "2024-07-12T08:27:08.033Z",
                          "updatedAt": "2024-07-12T08:40:48.135Z",
                          "roles": ["NETWORKCONTROL", "USER"],
                          "permissions": {
                            "roles": [
                              {
                                "name": "NETWORKCONTROL",
                                "display": "Network Admin",
                                "icon": "flow switch",
                                "keyholder": false,
                                "visible": true,
                                "shieldOnly": false,
                                "systemDefault": false,
                                "unauthenticatedSystemDefault": false,
                                "id": "55exxxxxxxxxxxxxxxxxxxxx",
                                "deletedAt": null,
                                "displayOrder": -299,
                                "description": "A Network Admin may create, edit, remove, and otherwise manage all of your company's ports, connections and virtual routers",
                                "tags": ["networkadmin", "console"],
                                "createdAt": "2015-09-30T04:00:00.000Z",
                                "updatedAt": "2024-05-08T06:57:07.109Z",
                                "policyIds": ["66aadac907cf5d784e8798a0"],
                                "deleted": false,
                                "permissions": {
                                  "company-actions": false,
                                  "company-update": false,
                                  "connection-create": true,
                                  "connection-delete": true,
                                  "connection-modify": true,
                                  "connection-read": true,
                                  "order-create": true,
                                  "order-delete": true,
                                  "order-modify": true,
                                  "order-query": true,
                                  "ports-edit": true,
                                  "ports-read": true,
                                  "user-moderation": false
                                },
                                "permissionIds": ["66aadbb9b80425a0177b2aae"],
                                "queryable": true,
                                "companyIds": [],
                                "readOnly": false,
                                "policies": [
                                  {
                                    "name": "Console - Network read and write",
                                    "description": "Close Support Tickets for Console Users",
                                    "definition": {
                                      "Statement": [
                                        {
                                          "Action": [
                                            "product:DeleteSupportTicket"
                                          ],
                                          "Resource": [
                                            "rn:cc-api:product::${cc:accountId}:*"
                                          ],
                                          "Effect": "Allow",
                                          "Sid": "ProductDeleteSupportTicket"
                                        }
                                      ]
                                    },
                                    "id": "66aadac907cf5d784e8798a0",
                                    "deletedAt": null
                                  }
                                ]
                              },
                              {
                                "name": "USER",
                                "display": "Company Member",
                                "icon": "user outline",
                                "keyholder": false,
                                "visible": true,
                                "shieldOnly": false,
                                "systemDefault": false,
                                "unauthenticatedSystemDefault": false,
                                "id": "55exxxxxxxxxxxxxxxxxxxxx",
                                "deletedAt": null,
                                "displayOrder": 300,
                                "description": "A Member is associated with your company but may not edit company profile information or view company network information",
                                "tags": ["console"],
                                "createdAt": "2015-09-03T06:48:40.377Z",
                                "updatedAt": "2024-04-02T07:11:45.902Z",
                                "policyIds": ["66aade651799c8f777e26ec9"],
                                "deleted": false,
                                "permissions": {
                                  "company-actions": false,
                                  "company-update": false,
                                  "connection-create": false,
                                  "connection-delete": false,
                                  "connection-modify": false,
                                  "connection-read": false,
                                  "order-create": false,
                                  "order-delete": false,
                                  "order-modify": false,
                                  "order-query": false,
                                  "ports-edit": false,
                                  "ports-read": false,
                                  "user-moderation": false
                                },
                                "queryable": false,
                                "permissionIds": [],
                                "companyIds": [],
                                "readOnly": true,
                                "policies": [
                                  {
                                    "name": "Console  - Company Members Read",
                                    "description": "Feature - ZScalerOrder",
                                    "definition": {
                                      "Statement": [
                                        {
                                          "Action": [
                                            "feature:EnableZScalerOrder"
                                          ],
                                          "Resource": ["*"],
                                          "Effect": "Allow",
                                          "Sid": "enable-zscaler-order"
                                        }
                                      ]
                                    },
                                    "id": "66aade80e5efc037d719edce",
                                    "deletedAt": null
                                  }
                                ]
                              }
                            ],
                            "groups": {
                              "NETWORKCONTROL": {
                                "company-actions": false,
                                "company-update": false,
                                "connection-create": true,
                                "connection-delete": true,
                                "connection-modify": true,
                                "connection-read": true,
                                "order-create": true,
                                "order-delete": true,
                                "order-modify": true,
                                "order-query": true,
                                "ports-edit": true,
                                "ports-read": true,
                                "user-moderation": false
                              },
                              "USER": {
                                "company-actions": false,
                                "company-update": false,
                                "connection-create": false,
                                "connection-delete": false,
                                "connection-modify": false,
                                "connection-read": false,
                                "order-create": false,
                                "order-delete": false,
                                "order-modify": false,
                                "order-query": false,
                                "ports-edit": false,
                                "ports-read": false,
                                "user-moderation": false
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Your `userId`"
                    },
                    "companies": {
                      "type": "array",
                      "description": "Includes your companyId and companyName (click Drop-down in 'Example' and choose 'Get `companyId` (id) and `companyName` (username)')"
                    },
                    "linkUserCompany": {
                      "type": "object",
                      "description": "Linked company in your account. You can get your current account role/s in your linked company here. Can also see your `companyId` and `userId` here."
                    },
                    "capabilities": {
                      "type": "object"
                    },
                    "system": {
                      "type": "object"
                    },
                    "cloudProviderDetails": {
                      "type": "object"
                    },
                    "settings": {
                      "type": "object"
                    },
                    "stats": {
                      "type": "object"
                    },
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "avatarId": {
                      "type": "string"
                    },
                    "background": {
                      "type": "string"
                    },
                    "overviewImage": {
                      "type": "string"
                    },
                    "headline": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "legalEntityId": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "passwordUpdatedAt": {
                      "type": "string"
                    },
                    "canInviteExternal": {
                      "type": "boolean"
                    },
                    "optIntoMarketingEmail": {
                      "type": "boolean"
                    },
                    "groups": {
                      "type": "array"
                    },
                    "following": {
                      "type": "array"
                    },
                    "phone": {
                      "type": "number"
                    },
                    "needsEmailVerification": {
                      "type": "boolean"
                    },
                    "newEmail": {
                      "type": "string"
                    },
                    "displayOrder": {
                      "type": "number"
                    },
                    "newEmailTokenCreatedAt": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array"
                    },
                    "categories": {
                      "type": "array"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "verifiedIdentity": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "deletedAt": {
                      "type": "string"
                    },
                    "businessRegistrationNumber": {
                      "type": "string"
                    },
                    "isCloudProvider": {
                      "type": "boolean"
                    },
                    "signedCompanyRefId": {
                      "type": "string"
                    },
                    "signedCompanyVerified": {
                      "type": "boolean"
                    },
                    "accountManagerEmail": {
                      "type": "string"
                    },
                    "accountManagerId": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "lastLoggedIn": {
                      "type": "string"
                    },
                    "online": {
                      "type": "boolean"
                    },
                    "token": {
                      "type": "string"
                    },
                    "hasAcceptedConsoleTermsOfUse": {
                      "type": "boolean"
                    }
                  },
                  "title": "Auth token response schema",
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "No-Token-Provided": {
                    "summary": "No Token Provided",
                    "value": {
                      "message": "The user is not logged in",
                      "status": 401,
                      "statusCode": 401
                    }
                  },
                  "User-Logged-Out": {
                    "summary": "User logged out",
                    "value": {
                      "message": "The session token been deleted",
                      "status": 401,
                      "statusCode": 401
                    }
                  }
                }
              }
            },
            "description": "Unauthorized",
            "headers": {}
          }
        },
        "tags": ["Auth"],
        "description": "Retrieve account details for the authenticated user.",
        "operationId": "GetLoggedInUser",
        "summary": "Get current user"
      }
    },
    "/app-user/{companyId}/agreements": {
      "get": {
        "parameters": [
          {
            "description": "The ObjectId of your company.",
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439011",
                        "version": "1.0,",
                        "date": "2022-08-24T05:10:59.418Z",
                        "type": "CONSOLE_PORT_SERVICE_TERMS",
                        "companyId": "507f191e810c19729de860ea"
                      }
                    ]
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": ["Agreements"],
        "description": "Get the agreements your company has agreed to.",
        "summary": "Get Agreements",
        "operationId": "GetAgreements"
      }
    },
    "/api/search": {
      "get": {
        "parameters": [
          {
            "description": "The search string (username, name, location, bio, etc).",
            "example": "consoleconnect",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "One or more types of object to search for:\n* `everything`\n* `people`\n* `companies`\n* `dataCenterFacilities`\n* `directConnectPartner`\n\nMultiple `type` parameters may be provided to search for two or more object types.",
            "example": "everything",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page number to get.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of results per page to get.",
            "example": 12,
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sort Users, Companies, and DCFs by newest.",
            "example": true,
            "in": "query",
            "name": "newest",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "One or more userIds to search for Users, Companies, and DCFs by multiple `userId` parameters may be provided to search for two or more users.",
            "example": "235014958511023495968818",
            "in": "query",
            "name": "userId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "One or more tags to search for.",
            "example": "sales",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start time for filtering events.",
            "example": "2015-10-07T22:37:51.732Z",
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End time for filtering events.",
            "example": "2015-10-07T22:37:51.732Z",
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "example": {
                  "results": [
                    {
                      "title": "Frederic Citizen",
                      "type": "user",
                      "description": "",
                      "isFollowing": false,
                      "isCompanyFollowing": {
                        "corl": false
                      },
                      "data": {
                        "id": "5552a04804972e1f16dcc0d6",
                        "type": "PERSON",
                        "name": "Stan Sample",
                        "avatar": null,
                        "headline": null,
                        "summary": null,
                        "location": null,
                        "username": "stan_sample",
                        "social": null,
                        "groups": null,
                        "updatedAt": "2015-06-22T06:02:42.075Z",
                        "createdAt": "2015-05-13T00:52:24.721Z"
                      }
                    }
                  ],
                  "items": {
                    "users": [
                      {
                        "id": "56159ebe6c11fef4510bfdc7",
                        "name": "Frederic Citizen",
                        "avatar": null,
                        "background": null,
                        "headline": "I <3 Networks",
                        "summary": "IP Engineer",
                        "location": "Mt Example, TX",
                        "username": "fredcit",
                        "social": null,
                        "tags": ["#baseball", "#football"],
                        "updatedAt": "2015-10-07T22:37:51.732Z",
                        "createdAt": "2015-10-07T22:37:50.543Z",
                        "companies": [
                          {
                            "id": "56159ebf6c11fef4510bfdcc",
                            "name": "ExCo LLC",
                            "avatar": null,
                            "background": null,
                            "headline": null,
                            "summary": null,
                            "location": null,
                            "username": "exco",
                            "followers": ["56159ebe6c11fef4510bfdc7"],
                            "following": null,
                            "tags": [],
                            "verified": true,
                            "company": {
                              "website": null,
                              "industry": null,
                              "businessType": null,
                              "companySize": null,
                              "dateFounded": null,
                              "markets": {},
                              "asns": null,
                              "regionalInternetRegistry": null,
                              "clientId": null,
                              "first": null,
                              "last": null,
                              "address": null,
                              "city": null,
                              "state": null,
                              "zip": null,
                              "addresses": null,
                              "phone": null,
                              "fax": null,
                              "email": null,
                              "country": null
                            },
                            "linkUserCompany": {}
                          }
                        ],
                        "linkUserCompany": {
                          "56159ebf6c11fef4510bfdcc": {
                            "id": "56159ebf6c11fef4510bfdcd",
                            "userId": "56159ebe6c11fef4510bfdc7",
                            "companyId": "56159ebf6c11fef4510bfdcc",
                            "state": "ACTIVE",
                            "roles": ["ADMIN"],
                            "updatedAt": "2015-10-07T22:37:51.225Z",
                            "createdAt": "2015-10-07T22:37:51.225Z",
                            "deleted": false,
                            "deletedAt": "1970-01-01T00:00:00.000Z",
                            "permissions": {
                              "groups": {
                                "ADMIN": {
                                  "user-moderation": true,
                                  "company-actions": true,
                                  "company-update": true,
                                  "ports-edit": true,
                                  "ports-read": true,
                                  "connection-create": true,
                                  "connection-modify": true,
                                  "connection-read": true,
                                  "connection-delete": true,
                                  "order-query": true,
                                  "order-create": true,
                                  "order-modify": true,
                                  "order-delete": true
                                }
                              }
                            }
                          }
                        },
                        "stats": {
                          "followers": 0,
                          "interconnections": 0,
                          "posts": 1,
                          "events": 1,
                          "following": 1
                        },
                        "isFollowing": false,
                        "isCompanyFollowing": {}
                      }
                    ],
                    "companies": [],
                    "dataCenterFacilities": []
                  }
                }
              }
            }
          }
        },
        "tags": ["Search"],
        "description": "> **This endpoint is deprecated. Please use specialized search endpoints outlined in other sections of the documentation.**\n\nAn api for searching multiple entities on our platform. While this particular endpoint is convenient for finding multiple types of entities, we highly recommend using more granular search apis listed in the Users, Companies, and DCF sections.",
        "operationId": "legacy-search",
        "summary": "Search Users, Companies, and DCFs"
      }
    },
    "/api/pricing/calculate": {
      "post": {
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ports": {
                    "description": "List of ports to get pricing for.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dcf": {
                          "type": "string",
                          "description": "The ID of the DCF the port will be located in.\n\nSee [List DCFs API](#tag/Data-Center-Facilities-(DCFs)/operation/getDcfs)"
                        },
                        "speed": {
                          "type": "number",
                          "description": "The required speed of the port in Mbps, e.g., 1000 = 1000Mbps or 1Gbps, 10000 = 10Gbps",
                          "example": 1000
                        },
                        "durationUnit": {
                          "type": "string",
                          "description": "Set to `m` if the Data Center accepts month-to-month port orders.",
                          "default": "y",
                          "enum": ["y", "m"]
                        }
                      },
                      "required": ["dcf", "speed"]
                    }
                  },
                  "connections": {
                    "description": "List of layer 2 connections to get pricing for.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "bandwidth": {
                          "type": "number",
                          "description": "The required bandwidth of the connection in Mbps, e.g., 30 = 30Mbps, 100 = 100Mbps, 1000 = 1Gbps"
                        },
                        "classOfService": {
                          "type": "string",
                          "enum": ["GOLD", "SILVER", "BRONZE"],
                          "description": "The class of service."
                        },
                        "duration": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Duration"
                            },
                            {
                              "description": "Specify duration information."
                            },
                            {
                              "required": ["value", "unit"]
                            }
                          ]
                        },
                        "srcDcf": {
                          "type": "string",
                          "description": "The ID of the source (A-end) Data Center Facility.\n\nSee [List DCFs API](#tag/Data-Center-Facilities-(DCFs)/operation/getDcfs)"
                        },
                        "srcRegion": {
                          "type": "string",
                          "description": "The ID of the source (A-end) region. (Optional)"
                        },
                        "destDcf": {
                          "type": "string",
                          "description": "The ID of the destination/ (Z-end) Data Center Facility.\n\nSee [List DCFs API](#tag/Data-Center-Facilities-(DCFs)/operation/getDcfs)"
                        },
                        "destRegion": {
                          "type": "string",
                          "description": "The ID of the region of the destination (Z-end) region. (Optional)"
                        }
                      },
                      "required": [
                        "bandwidth",
                        "classOfService",
                        "duration",
                        "srcDcf",
                        "destDcf"
                      ]
                    }
                  },
                  "discountCode": {
                    "type": "string",
                    "description": "Apply promotion or partner code."
                  },
                  "includeCrossConnect": {
                    "type": "boolean",
                    "description": "Set to `true` to have the Cross Connect add-on with your port if your DCF supports this.\nOnly available in a 12 month contract."
                  }
                }
              },
              "examples": {
                "Single-Port": {
                  "summary": "Single Port with 1,000 Mbps for 12 months",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1000,
                        "durationUnit": "y"
                      }
                    ]
                  }
                },
                "Single-Port-with-Cross-Connect": {
                  "summary": "Single Port with 1,000 Mbps and Cross Connect Add-on for 12 months",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1000,
                        "durationUnit": "y"
                      }
                    ],
                    "includeCrossConnect": true
                  }
                },
                "Single-Port-with-Discount": {
                  "summary": "Single Port with 1,000 Mbps and Discount for 12 months",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1000,
                        "durationUnit": "y"
                      }
                    ],
                    "discountCode": "DISCOUNTDEMO"
                  }
                },
                "Multiple-Ports": {
                  "summary": "Multiple Ports",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 10000,
                        "durationUnit": "y"
                      },
                      {
                        "dcf": "a91112e9f1ba91181950ba91",
                        "speed": 1000,
                        "durationUnit": "m"
                      }
                    ]
                  }
                },
                "Single-Connection": {
                  "summary": "Single Connection with 20 Mbps bandwidth for 1 month",
                  "value": {
                    "connections": [
                      {
                        "bandwidth": 20,
                        "classOfService": "SILVER",
                        "duration": {
                          "value": 1,
                          "unit": "m"
                        },
                        "srcDcf": "5a8a4838af6c690012871666",
                        "destDcf": "5a9739ccfae7ba00134d378b"
                      }
                    ]
                  }
                },
                "Single-Connection-with-Discount": {
                  "summary": "Single Connection with 50 Mbps bandwidth and Discount for 12 months",
                  "value": {
                    "connections": [
                      {
                        "bandwidth": 50,
                        "classOfService": "GOLD",
                        "duration": {
                          "value": 12,
                          "unit": "m"
                        },
                        "srcDcf": "5a8a4838af6c690012871666",
                        "destDcf": "5a9739ccfae7ba00134d378b"
                      }
                    ],
                    "discountCode": "DISCOUNTDEMO"
                  }
                },
                "Multiple-Connections": {
                  "summary": "Multiple Connections",
                  "value": {
                    "connections": [
                      {
                        "bandwidth": 20,
                        "classOfService": "SILVER",
                        "duration": {
                          "value": 1,
                          "unit": "w"
                        },
                        "srcDcf": "5a8a4838af6c690012871666",
                        "destDcf": "5a9739ccfae7ba00134d378b"
                      },
                      {
                        "bandwidth": 20,
                        "classOfService": "SILVER",
                        "duration": {
                          "value": 1,
                          "unit": "m"
                        },
                        "srcDcf": "5a8a4838af6c690012871666",
                        "destDcf": "5a9739ccfae7ba00134d378b"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortsConnectionsResponse"
                },
                "examples": {
                  "Single-Port": {
                    "summary": "Single Port with 1,000 Mbps for 12 months",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1000,
                            "discountId": "",
                            "durationUnit": "y"
                          },
                          "price": 300,
                          "preAuthAmount": 300,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        }
                      ]
                    }
                  },
                  "Single-Port-with-Cross-Connect": {
                    "summary": "Single Port with 1,000 Mbps and Cross Connect Add-on for 12 months",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1000,
                            "discountId": "",
                            "durationUnit": "y"
                          },
                          "price": 300,
                          "preAuthAmount": 300,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          },
                          "crossConnectAmount": 65
                        }
                      ]
                    }
                  },
                  "Single-Port-with-Discount": {
                    "summary": "Single Port with 1,000 Mbps and Discount for 12 months",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1000,
                            "discountId": "66c2a7ec914c31947866412b",
                            "durationUnit": "y"
                          },
                          "price": 90,
                          "preAuthAmount": 90,
                          "amountSaved": 210,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          },
                          "discount": {
                            "discountType": "percentage",
                            "marketingCode": "DISCOUNTDEMO",
                            "duration": "recurring",
                            "applicableProducts": [],
                            "applicableDcfs": [],
                            "applicableMetros": [],
                            "purchasingCompanies": [],
                            "destinationCompanies": [],
                            "value": 70,
                            "tierType": "none",
                            "tiers": [],
                            "id": "66c2a7ec914c31947866412b",
                            "deletedAt": null,
                            "createdAt": "2024-08-19T02:03:24.851Z",
                            "updatedAt": "2024-08-20T00:05:43.690Z",
                            "name": "Get 70% off",
                            "description": "70% Discount",
                            "tags": []
                          }
                        }
                      ]
                    }
                  },
                  "Multiple-Ports": {
                    "summary": "Multiple Ports",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 10000,
                            "discountId": "",
                            "durationUnit": "y"
                          },
                          "price": 400,
                          "preAuthAmount": 400,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        },
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "a91112e9f1ba91181950ba91",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1000,
                            "discountId": "",
                            "durationUnit": "m"
                          },
                          "price": 450,
                          "preAuthAmount": 450,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null
                        }
                      ]
                    }
                  },
                  "Single-Connection": {
                    "summary": "Single Connection with 20 Mbps bandwidth for 1 month",
                    "value": {
                      "results": [
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "m",
                              "value": 1
                            },
                            "bandwidth": 20,
                            "classOfService": "SILVER",
                            "discountId": ""
                          },
                          "price": 80,
                          "preAuthAmount": 80,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": 80,
                          "basicMonthlyAmount": 80,
                          "formula": "(bandwidthCost*multiplier)*duration/(1-margin)+portFee",
                          "factors": [
                            {
                              "name": "margin",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "portFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "nniFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "bandwidthCost",
                              "number": 80,
                              "ref": {
                                "from": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "to": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "price": {
                                  "price": 1.75,
                                  "bandwidth": {
                                    "from": 1,
                                    "to": 100
                                  },
                                  "cos": "SILVER"
                                }
                              }
                            },
                            {
                              "name": "multiplier",
                              "number": 1,
                              "ref": null
                            },
                            {
                              "name": "duration",
                              "number": 1,
                              "ref": null
                            }
                          ],
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        }
                      ]
                    }
                  },
                  "Single-Connection-with-Discount": {
                    "summary": "Single Connection with 50 Mbps bandwidth and Discount for 12 months",
                    "value": {
                      "results": [
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "m",
                              "value": 12
                            },
                            "bandwidth": 50,
                            "classOfService": "GOLD",
                            "discountId": "66c2a7ec914c31947866412b"
                          },
                          "price": 279.36,
                          "preAuthAmount": 23.28,
                          "amountSaved": 54.32,
                          "amountSavedTotal": 651.84,
                          "basicTotalAmount": 279.36,
                          "basicMonthlyAmount": 23.28,
                          "formula": "(bandwidthCost*multiplier)*duration/(1-margin)+portFee",
                          "factors": [
                            {
                              "name": "margin",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "portFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "nniFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "bandwidthCost",
                              "number": 80,
                              "ref": {
                                "from": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "to": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "price": {
                                  "price": 3.23,
                                  "bandwidth": {
                                    "from": 1,
                                    "to": 100
                                  },
                                  "cos": "GOLD"
                                }
                              }
                            },
                            {
                              "name": "multiplier",
                              "number": 0.97,
                              "ref": null
                            },
                            {
                              "name": "duration",
                              "number": 12,
                              "ref": null
                            }
                          ],
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          },
                          "discount": {
                            "discountType": "percentage",
                            "marketingCode": "DISCOUNTDEMO",
                            "duration": "recurring",
                            "applicableProducts": [],
                            "applicableDcfs": [],
                            "applicableMetros": [],
                            "purchasingCompanies": [],
                            "destinationCompanies": [],
                            "value": 70,
                            "tierType": "none",
                            "tiers": [],
                            "id": "66c2a7ec914c31947866412b",
                            "deletedAt": null,
                            "createdAt": "2024-08-19T02:03:24.851Z",
                            "updatedAt": "2024-08-20T00:05:43.690Z",
                            "name": "Get 70% off",
                            "description": "70% Discount",
                            "tags": []
                          }
                        }
                      ]
                    }
                  },
                  "Multiple-Connections": {
                    "summary": "Multiple Connections",
                    "value": {
                      "results": [
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "w",
                              "value": 1
                            },
                            "bandwidth": 20,
                            "classOfService": "SILVER",
                            "discountId": ""
                          },
                          "price": 28.8,
                          "preAuthAmount": 28.8,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": 28.8,
                          "basicMonthlyAmount": 28.8,
                          "formula": "(bandwidthCost*multiplier)*duration/(1-margin)+portFee",
                          "factors": [
                            {
                              "name": "margin",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "portFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "nniFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "bandwidthCost",
                              "number": 80,
                              "ref": {
                                "from": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "to": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "price": {
                                  "price": 1.75,
                                  "bandwidth": {
                                    "from": 1,
                                    "to": 100
                                  },
                                  "cos": "SILVER"
                                }
                              }
                            },
                            {
                              "name": "multiplier",
                              "number": 0.36,
                              "ref": null
                            },
                            {
                              "name": "duration",
                              "number": 1,
                              "ref": null
                            }
                          ],
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        },
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "m",
                              "value": 1
                            },
                            "bandwidth": 20,
                            "classOfService": "SILVER",
                            "discountId": ""
                          },
                          "price": 80,
                          "preAuthAmount": 80,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": 80,
                          "basicMonthlyAmount": 80,
                          "formula": "(bandwidthCost*multiplier)*duration/(1-margin)+portFee",
                          "factors": [
                            {
                              "name": "margin",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "portFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "nniFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "bandwidthCost",
                              "number": 80,
                              "ref": {
                                "from": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "to": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "price": {
                                  "price": 1.75,
                                  "bandwidth": {
                                    "from": 1,
                                    "to": 100
                                  },
                                  "cos": "SILVER"
                                }
                              }
                            },
                            {
                              "name": "multiplier",
                              "number": 1,
                              "ref": null
                            },
                            {
                              "name": "duration",
                              "number": 1,
                              "ref": null
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No price was found for this combination.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "response": {
                    "value": {
                      "code": 204,
                      "message": "No Content"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "invalid-dcf": {
                    "summary": "invalid dcf",
                    "value": {
                      "code": 400,
                      "message": "Invalid dcf property. This value should be the dcf ID."
                    }
                  },
                  "invalid-srcDcf": {
                    "summary": "invalid srcDcf",
                    "value": {
                      "code": 400,
                      "message": "Invalid srcDcf property. This value should be the srcDcf ID."
                    }
                  },
                  "invalid-discount-code": {
                    "summary": "invalid discount code",
                    "value": {
                      "code": 400,
                      "message": "INVALID CODE"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Pricing"],
        "description": "Calculate pricing for Ports and Layer 2 Connections",
        "operationId": "calculate-price-for-ports-and-connections",
        "summary": "Ports and Connections"
      }
    },
    "/api/company/{username}/pricing/calculate/flex": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "description": "The username of the company.",
            "example": "company_co",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The connection ID of the connection you want to get flex pricing for."
                  },
                  "flexBandwidth": {
                    "type": "string",
                    "description": "The additional bandwidth to be added to the connection."
                  },
                  "discountCode": {
                    "type": "string",
                    "description": "Any discount code you may have been provided."
                  }
                },
                "required": ["connectionId", "flexBandwidth"]
              },
              "examples": {
                "Without-Discount": {
                  "summary": "Without Discount",
                  "value": {
                    "connectionId": "95908593icTTl895393135Y7K",
                    "flexBandwidth": "100"
                  }
                },
                "With-Discount-Code": {
                  "summary": "With Discount Code",
                  "value": {
                    "connectionId": "95908593icTTl895393135Y7K",
                    "flexBandwidth": "100",
                    "discountCode": "FIRSTCONNECTION"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connectionId": {
                      "type": "string",
                      "description": "The connection ID of the connection you want to get flex pricing for."
                    },
                    "flexBandwidth": {
                      "type": "number",
                      "description": ""
                    },
                    "flexCharge": {
                      "type": "number",
                      "description": "The additional charge for flexing the connection by the stated amount."
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "connectionId": "95908593icTTl895393135Y7K",
                      "flexBandwidth": 100,
                      "flexCharge": 97
                    }
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "204": {
            "description": "No price was found for this combination."
          },
          "400": {
            "description": "error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "missing-parameter": {
                    "summary": "missing parameter",
                    "value": {
                      "code": 400,
                      "message": "flex price calculate payload must have a connectionId"
                    }
                  },
                  "invalid-discount-code": {
                    "summary": "invalid discount code",
                    "value": {
                      "code": 400,
                      "message": "Invalid Code"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Pricing"],
        "description": "Retrieve flex pricing for a connection.",
        "operationId": "connection-flex-price-calculate",
        "summary": "Connections - Flex pricing"
      }
    },
    "/v2/pricing/gia/byCompanyAndPort": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Company.",
            "example": "507f1f77bcf86cd799439011",
            "in": "query",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the Port.",
            "example": "507f191e810c19729de860ea",
            "in": "query",
            "name": "portId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The desired bandwidth for the GIA service in Mbps.",
            "example": "10",
            "in": "query",
            "name": "bandwidth",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The duration the service was ordered for.",
            "example": "12",
            "in": "query",
            "name": "durationValue",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A unit of time such as days, weeks, months, and years. Value can be one of: d, w, m, y.",
            "example": "m",
            "in": "query",
            "name": "durationUnit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "Optional discount code.",
            "name": "discountCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GiaPricing-Recurring"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-OneOff"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-NoPrice"
                    }
                  ]
                },
                "examples": {
                  "prices-with-duration-greater-than-one-month": {
[...]
