{
  "openapi": "3.0.0",
  "info": {
    "description": "This document provides an API reference, grouped by function, describing how to use the Console Connect REST API.\nProducts available through the Console Connect API include:\n* [Ports](#tag/Ports) - A port allows customers to access multiple on-demand Console Connect services, including access to cloud services, geographically separate networks (such as remote or branch offices) and the Internet, via a single network connection. \n* [L2 Connections](#tag/L2-Connections) - Console Connect's point-to-point Layer 2 connection is a secured virtual private Ethernet service, transported via a fully redundant Multi-Protocol Label Switching (MPLS) enabled IP infrastructure provided by Console Connect.\n* [Internet On-Demand (IO-D)](#tag/Internet-On-Demand-(IO-D)) - The IO-D service is carried on a fully redundant dual-stack global IP network, providing business-grade internet connectivity for enterprises and service providers.\n* [CloudRouter](#tag/CloudRouter) - CloudRouter is an MPLS VPN IP based infrastructure service which provides a private Layer 3 meshed network between multiple locations and network endpoints globally for enterprises and service providers.",
    "title": "Console Connect API",
    "version": "1.0.0",
    "license": {
      "name": "Commercial",
      "url": "https://www.consoleconnect.com/terms-of-use"
    },
    "termsOfService": "https://www.consoleconnect.com/terms-of-use",
    "x-logo": {
      "url": "https://storage.googleapis.com/console-connect-static-assets/cc-api-logo.jpg",
      "altText": "Console Connect logo"
    },
    "contact": {
      "name": "Console Connect Support",
      "email": "support@consoleconnect.com"
    }
  },
  "servers": [
    {
      "url": "https://api.consoleconnect.com"
    }
  ],
  "paths": {
    "/api/auth/token": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "summary": "Full response data",
                    "value": {
                      "id": "669xxxxxxxxxxxxxxxxxxxxx",
                      "companies": [
                        {
                          "id": "5daxxxxxxxxxxxxxxxxxxxxx",
                          "username": "samplecompanyname",
                          "officeAddress": null,
                          "system": {
                            "welcomeMessage": null
                          },
                          "company": {
                            "privacy": {
                              "network": {
                                "mode": "PRIVATE",
                                "blackListIds": [],
                                "whiteListIds": [
                                  "66aad8c7caac3ecbecbd8790"
                                ]
                              },
                              "community": {
                                "mode": "PRIVATE",
                                "blackListIds": [],
                                "whiteListIds": [
                                  "66aad8de1c740284bf0b2148"
                                ]
                              }
                            },
                            "industry": null,
                            "partnerType": null,
                            "companySize": null,
                            "dateFounded": null,
                            "businessRegistrationCertRejectedReason": null,
                            "clientId": null,
                            "first": null,
                            "last": null,
                            "address": null,
                            "city": null,
                            "state": null,
                            "zip": null,
                            "phone": null,
                            "fax": null,
                            "emailDomains": [
                              "email.com"
                            ],
                            "website": "email.com",
                            "businessType": "Internal",
                            "registeredName": "Some Registered Name",
                            "addresses": [
                              {
                                "geo": {
                                  "type": "Point",
                                  "coordinates": []
                                },
                                "registered": true,
                                "address": "123/F, Address street",
                                "city": "City",
                                "state": null,
                                "zip": "123456",
                                "country": "Country",
                                "email": null,
                                "phone": null
                              }
                            ],
                            "businessRegistrationCertVerified": "UNVERIFIED",
                            "regionalInternetRegistry": [],
                            "businessDevelopmentManagerTypePreference": "DATA",
                            "isIoTDemoCompany": false,
                            "businessRegistrationCertReference": "5d1xxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                            "businessRegistrationCertUploadedAt": "2024-03-28T14:02:43.261Z",
                            "isSDWAN": false
                          },
                          "cloudProviderDetails": {
                            "asn": {
                              "range": []
                            },
                            "bgpAuthority": "PCCWGLOBAL",
                            "companyType": "DCP"
                          },
                          "stats": {
                            "members": 25,
                            "interconnections": 0,
                            "followers": 0,
                            "following": 0,
                            "privateArticles": 0,
                            "privateEvents": 0,
                            "privatePosts": 0,
                            "articles": 1,
                            "events": 0,
                            "posts": 0
                          },
                          "overviewImage": null,
                          "accountManagerEmail": null,
                          "accountManagerId": null,
                          "createdAt": "2019-10-16T09:24:25.171Z",
                          "updatedAt": "2024-07-23T10:54:07.146Z",
                          "deletedAt": null,
                          "deleted": false,
                          "verified": true,
                          "tags": [
                            "Analytics"
                          ],
                          "status": "ACTIVE",
                          "displayOrder": 0,
                          "groups": [],
                          "location": null,
                          "summary": "",
                          "headline": null,
                          "background": "667xxxxxxxxxxxxxxxxxxxxx",
                          "avatarId": "5f8xxxxxxxxxxxxxxxxxxxxx",
                          "name": "Sample Company Name",
                          "type": "COMPANY",
                          "oldAvatarId": "5e3xxxxxxxxxxxxxxxxxxxxx",
                          "verifiedIdentity": true,
                          "defaultPaymentType": "invoice",
                          "portsPending": 0,
                          "portsActive": 4,
                          "portsDisabled": 0,
                          "categories": [
                            "NaaS",
                            "Enterprise"
                          ],
                          "isCloudProvider": false,
                          "signedCompanyRefId": 12,
                          "signedCompanyVerified": true,
                          "businessRegistrationNumber": "317xxxxx-xxx-xx-xx-x",
                          "companies": [],
                          "online": false,
                          "isFollowing": false,
                          "isFollowee": false,
                          "linkUserCompany": {}
                        }
                      ],
                      "linkUserCompany": {
                        "5daxxxxxxxxxxxxxxxxxxxxx": {
                          "state": "ACTIVE",
                          "deleted": false,
                          "id": "669xxxxxxxxxxxxxxxxxxxxx",
                          "userId": "669xxxxxxxxxxxxxxxxxxxxx",
                          "companyId": "5daxxxxxxxxxxxxxxxxxxxxx",
                          "roleIds": [
                            "66aada952027420ab258aecd",
                            "66aada9ad8cf4a2092ee6f67"
                          ],
                          "deletedAt": null,
                          "createdAt": "2024-07-12T08:27:08.033Z",
                          "updatedAt": "2024-07-12T08:40:48.135Z",
                          "roles": [
                            "NETWORKCONTROL",
                            "USER"
                          ],
                          "permissions": {
                            "roles": [
                              {
                                "name": "NETWORKCONTROL",
                                "display": "Network Admin",
                                "icon": "flow switch",
                                "keyholder": false,
                                "visible": true,
                                "shieldOnly": false,
                                "systemDefault": false,
                                "unauthenticatedSystemDefault": false,
                                "id": "55exxxxxxxxxxxxxxxxxxxxx",
                                "deletedAt": null,
                                "displayOrder": -299,
                                "description": "A Network Admin may create, edit, remove, and otherwise manage all of your company's ports, connections and virtual routers",
                                "tags": [
                                  "networkadmin",
                                  "console"
                                ],
                                "createdAt": "2015-09-30T04:00:00.000Z",
                                "updatedAt": "2024-05-08T06:57:07.109Z",
                                "policyIds": [
                                  "66aadac907cf5d784e8798a0"
                                ],
                                "deleted": false,
                                "permissions": {
                                  "company-actions": false,
                                  "company-update": false,
                                  "connection-create": true,
                                  "connection-delete": true,
                                  "connection-modify": true,
                                  "connection-read": true,
                                  "order-create": true,
                                  "order-delete": true,
                                  "order-modify": true,
                                  "order-query": true,
                                  "ports-edit": true,
                                  "ports-read": true,
                                  "user-moderation": false
                                },
                                "permissionIds": [
                                  "66aadbb9b80425a0177b2aae"
                                ],
                                "queryable": true,
                                "companyIds": [],
                                "readOnly": false,
                                "policies": [
                                  {
                                    "name": "Console - Network read and write",
                                    "description": "Close Support Tickets for Console Users",
                                    "definition": {
                                      "Statement": [
                                        {
                                          "Action": [
                                            "product:DeleteSupportTicket"
                                          ],
                                          "Resource": [
                                            "rn:cc-api:product::${cc:accountId}:*"
                                          ],
                                          "Effect": "Allow",
                                          "Sid": "ProductDeleteSupportTicket"
                                        }
                                      ]
                                    },
                                    "id": "66aadac907cf5d784e8798a0",
                                    "deletedAt": null
                                  }
                                ]
                              },
                              {
                                "name": "USER",
                                "display": "Company Member",
                                "icon": "user outline",
                                "keyholder": false,
                                "visible": true,
                                "shieldOnly": false,
                                "systemDefault": false,
                                "unauthenticatedSystemDefault": false,
                                "id": "55exxxxxxxxxxxxxxxxxxxxx",
                                "deletedAt": null,
                                "displayOrder": 300,
                                "description": "A Member is associated with your company but may not edit company profile information or view company network information",
                                "tags": [
                                  "console"
                                ],
                                "createdAt": "2015-09-03T06:48:40.377Z",
                                "updatedAt": "2024-04-02T07:11:45.902Z",
                                "policyIds": [
                                  "66aade651799c8f777e26ec9"
                                ],
                                "deleted": false,
                                "permissions": {
                                  "company-actions": false,
                                  "company-update": false,
                                  "connection-create": false,
                                  "connection-delete": false,
                                  "connection-modify": false,
                                  "connection-read": false,
                                  "order-create": false,
                                  "order-delete": false,
                                  "order-modify": false,
                                  "order-query": false,
                                  "ports-edit": false,
                                  "ports-read": false,
                                  "user-moderation": false
                                },
                                "queryable": false,
                                "permissionIds": [],
                                "companyIds": [],
                                "readOnly": true,
                                "policies": [
                                  {
                                    "name": "Console  - Company Members Read",
                                    "description": "Feature - ZScalerOrder",
                                    "definition": {
                                      "Statement": [
                                        {
                                          "Action": [
                                            "feature:EnableZScalerOrder"
                                          ],
                                          "Resource": [
                                            "*"
                                          ],
                                          "Effect": "Allow",
                                          "Sid": "enable-zscaler-order"
                                        }
                                      ]
                                    },
                                    "id": "66aade80e5efc037d719edce",
                                    "deletedAt": null
                                  }
                                ]
                              }
                            ],
                            "groups": {
                              "NETWORKCONTROL": {
                                "company-actions": false,
                                "company-update": false,
                                "connection-create": true,
                                "connection-delete": true,
                                "connection-modify": true,
                                "connection-read": true,
                                "order-create": true,
                                "order-delete": true,
                                "order-modify": true,
                                "order-query": true,
                                "ports-edit": true,
                                "ports-read": true,
                                "user-moderation": false
                              },
                              "USER": {
                                "company-actions": false,
                                "company-update": false,
                                "connection-create": false,
                                "connection-delete": false,
                                "connection-modify": false,
                                "connection-read": false,
                                "order-create": false,
                                "order-delete": false,
                                "order-modify": false,
                                "order-query": false,
                                "ports-edit": false,
                                "ports-read": false,
                                "user-moderation": false
                              }
                            }
                          }
                        }
                      },
                      "capabilities": {
                        "layer2": false,
                        "layer2Metros": [],
                        "layer2Regions": []
                      },
                      "system": {
                        "welcomeMessage": null
                      },
                      "cloudProviderDetails": {
                        "asn": {
                          "range": []
                        },
                        "companyType": "DCP",
                        "bgpAuthority": "PCCWGLOBAL"
                      },
                      "settings": {
                        "alertMeWhenNewFollower": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCompanyNewFollower": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenMentionedInPost": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCompanyMentionedInPost": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCompanyMemberMentionedInPost": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCommentInPost": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCommentInPostByCompany": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenCommentInPostByCompanyMember": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenJoinCompanyRequest": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenJoinCompany": {
                          "category": "communityAndMessages",
                          "option": true
                        },
                        "alertMeWhenInterconnectRequest": {
                          "category": "network",
                          "option": true
                        },
                        "alertMeWhenCompanyJoinsConsole": {
                          "category": "network",
                          "option": true
                        },
                        "alertMeWhenNetworkRelatedEvent": {
                          "category": "network",
                          "option": true
                        },
                        "dismissPlanChangeMessage": {
                          "category": "hidden",
                          "option": true
                        },
                        "alertWhenKeywordsMentioned": {
                          "category": "communityAndMessages",
                          "option": [],
                          "enabled": true
                        },
                        "emailWhenMessageReceived": {
                          "category": "communityAndMessages",
                          "option": "ALL"
                        }
                      },
                      "stats": {
                        "posts": 0,
                        "events": 0,
                        "articles": 0,
                        "privatePosts": 0,
                        "privateEvents": 0,
                        "privateArticles": 0,
                        "following": 1,
                        "followers": 0,
                        "interconnections": 0,
                        "members": 0
                      },
                      "type": "PERSON",
                      "name": "Sample Full Name",
                      "email": "sample.email@email.com",
                      "avatarId": null,
                      "background": null,
                      "overviewImage": null,
                      "headline": "Sample Headline",
                      "summary": null,
                      "legalEntityId": null,
                      "location": null,
                      "passwordUpdatedAt": null,
                      "canInviteExternal": false,
                      "optIntoMarketingEmail": false,
                      "groups": [],
                      "following": [
                        "5a0xxxxxxxxxxxxxxxxxxxxx"
                      ],
                      "phone": null,
                      "needsEmailVerification": false,
                      "newEmail": null,
                      "displayOrder": -299,
                      "newEmailTokenCreatedAt": null,
                      "status": "ACTIVE",
                      "tags": [],
                      "categories": [],
                      "verified": false,
                      "verifiedIdentity": false,
                      "deleted": false,
                      "deletedAt": null,
                      "businessRegistrationNumber": null,
                      "isCloudProvider": false,
                      "signedCompanyRefId": null,
                      "signedCompanyVerified": false,
                      "accountManagerEmail": null,
                      "accountManagerId": null,
                      "username": "sampleusername",
                      "updatedAt": "2024-07-19T08:15:22.521Z",
                      "createdAt": "2024-07-12T05:31:06.475Z",
                      "lastLoggedIn": "2024-07-19T08:15:22.521Z",
                      "online": false,
                      "token": null,
                      "hasAcceptedConsoleTermsOfUse": true
                    }
                  },
                  "Get-Company-Details": {
                    "summary": "Get companyId (id) and companyName (username)",
                    "value": {
                      "companies": [
                        {
                          "id": "5daxxxxxxxxxxxxxxxxxxxxx",
                          "username": "samplecompanyname",
                          "officeAddress": null,
                          "system": {
                            "welcomeMessage": null
                          },
                          "company": {
                            "privacy": {
                              "network": {
                                "mode": "PRIVATE",
                                "blackListIds": [],
                                "whiteListIds": [
                                  "66aad8c7caac3ecbecbd8790"
                                ]
                              },
                              "community": {
                                "mode": "PRIVATE",
                                "blackListIds": [],
                                "whiteListIds": [
                                  "66aad8de1c740284bf0b2148"
                                ]
                              }
                            },
                            "industry": null,
                            "partnerType": null,
                            "companySize": null,
                            "dateFounded": null,
                            "businessRegistrationCertRejectedReason": null,
                            "clientId": null,
                            "first": null,
                            "last": null,
                            "address": null,
                            "city": null,
                            "state": null,
                            "zip": null,
                            "phone": null,
                            "fax": null,
                            "emailDomains": [
                              "email.com"
                            ],
                            "website": "email.com",
                            "businessType": "Internal",
                            "registeredName": "Some Registered Name",
                            "addresses": [
                              {
                                "geo": {
                                  "type": "Point",
                                  "coordinates": []
                                },
                                "registered": true,
                                "address": "123/F, Address street",
                                "city": "City",
                                "state": null,
                                "zip": "123456",
                                "country": "GB",
                                "email": null,
                                "phone": null
                              }
                            ],
                            "businessRegistrationCertVerified": "UNVERIFIED",
                            "regionalInternetRegistry": [],
                            "businessDevelopmentManagerTypePreference": "DATA",
                            "isIoTDemoCompany": false,
                            "businessRegistrationCertReference": "5d1xxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                            "businessRegistrationCertUploadedAt": "2024-03-28T14:02:43.261Z",
                            "isSDWAN": false
                          },
                          "cloudProviderDetails": {
                            "asn": {
                              "range": []
                            },
                            "bgpAuthority": "PCCWGLOBAL",
                            "companyType": "DCP"
                          },
                          "stats": {
                            "members": 25,
                            "interconnections": 0,
                            "followers": 0,
                            "following": 0,
                            "privateArticles": 0,
                            "privateEvents": 0,
                            "privatePosts": 0,
                            "articles": 1,
                            "events": 0,
                            "posts": 0
                          },
                          "overviewImage": null,
                          "accountManagerEmail": null,
                          "accountManagerId": null,
                          "createdAt": "2019-10-16T09:24:25.171Z",
                          "updatedAt": "2024-07-23T10:54:07.146Z",
                          "deletedAt": null,
                          "deleted": false,
                          "verified": true,
                          "tags": [
                            "Analytics"
                          ],
                          "status": "ACTIVE",
                          "displayOrder": 0,
                          "groups": [],
                          "location": null,
                          "summary": "",
                          "headline": null,
                          "background": "667xxxxxxxxxxxxxxxxxxxxx",
                          "avatarId": "5f8xxxxxxxxxxxxxxxxxxxxx",
                          "name": "Sample Company Name",
                          "type": "COMPANY",
                          "oldAvatarId": "5e3xxxxxxxxxxxxxxxxxxxxx",
                          "verifiedIdentity": true,
                          "defaultPaymentType": "invoice",
                          "portsPending": 0,
                          "portsActive": 4,
                          "portsDisabled": 0,
                          "categories": [
                            "NaaS",
                            "Enterprise"
                          ],
                          "isCloudProvider": false,
                          "signedCompanyRefId": 12,
                          "signedCompanyVerified": true,
                          "businessRegistrationNumber": "317xxxxx-xxx-xx-xx-x",
                          "companies": [],
                          "online": false,
                          "isFollowing": false,
                          "isFollowee": false,
                          "linkUserCompany": {}
                        }
                      ]
                    }
                  },
                  "Get-User-Roles": {
                    "summary": "Get User Roles under linkUserCompany.roles",
                    "value": {
                      "linkUserCompany": {
                        "5daxxxxxxxxxxxxxxxxxxxxx": {
                          "state": "ACTIVE",
                          "deleted": false,
                          "id": "669xxxxxxxxxxxxxxxxxxxxx",
                          "userId": "669xxxxxxxxxxxxxxxxxxxxx",
                          "companyId": "5daxxxxxxxxxxxxxxxxxxxxx",
                          "roleIds": [
                            "66aada952027420ab258aecd",
                            "66aada9ad8cf4a2092ee6f67"
                          ],
                          "deletedAt": null,
                          "createdAt": "2024-07-12T08:27:08.033Z",
                          "updatedAt": "2024-07-12T08:40:48.135Z",
                          "roles": [
                            "NETWORKCONTROL",
                            "USER"
                          ],
                          "permissions": {
                            "roles": [
                              {
                                "name": "NETWORKCONTROL",
                                "display": "Network Admin",
                                "icon": "flow switch",
                                "keyholder": false,
                                "visible": true,
                                "shieldOnly": false,
                                "systemDefault": false,
                                "unauthenticatedSystemDefault": false,
                                "id": "55exxxxxxxxxxxxxxxxxxxxx",
                                "deletedAt": null,
                                "displayOrder": -299,
                                "description": "A Network Admin may create, edit, remove, and otherwise manage all of your company's ports, connections and virtual routers",
                                "tags": [
                                  "networkadmin",
                                  "console"
                                ],
                                "createdAt": "2015-09-30T04:00:00.000Z",
                                "updatedAt": "2024-05-08T06:57:07.109Z",
                                "policyIds": [
                                  "66aadac907cf5d784e8798a0"
                                ],
                                "deleted": false,
                                "permissions": {
                                  "company-actions": false,
                                  "company-update": false,
                                  "connection-create": true,
                                  "connection-delete": true,
                                  "connection-modify": true,
                                  "connection-read": true,
                                  "order-create": true,
                                  "order-delete": true,
                                  "order-modify": true,
                                  "order-query": true,
                                  "ports-edit": true,
                                  "ports-read": true,
                                  "user-moderation": false
                                },
                                "permissionIds": [
                                  "66aadbb9b80425a0177b2aae"
                                ],
                                "queryable": true,
                                "companyIds": [],
                                "readOnly": false,
                                "policies": [
                                  {
                                    "name": "Console - Network read and write",
                                    "description": "Close Support Tickets for Console Users",
                                    "definition": {
                                      "Statement": [
                                        {
                                          "Action": [
                                            "product:DeleteSupportTicket"
                                          ],
                                          "Resource": [
                                            "rn:cc-api:product::${cc:accountId}:*"
                                          ],
                                          "Effect": "Allow",
                                          "Sid": "ProductDeleteSupportTicket"
                                        }
                                      ]
                                    },
                                    "id": "66aadac907cf5d784e8798a0",
                                    "deletedAt": null
                                  }
                                ]
                              },
                              {
                                "name": "USER",
                                "display": "Company Member",
                                "icon": "user outline",
                                "keyholder": false,
                                "visible": true,
                                "shieldOnly": false,
                                "systemDefault": false,
                                "unauthenticatedSystemDefault": false,
                                "id": "55exxxxxxxxxxxxxxxxxxxxx",
                                "deletedAt": null,
                                "displayOrder": 300,
                                "description": "A Member is associated with your company but may not edit company profile information or view company network information",
                                "tags": [
                                  "console"
                                ],
                                "createdAt": "2015-09-03T06:48:40.377Z",
                                "updatedAt": "2024-04-02T07:11:45.902Z",
                                "policyIds": [
                                  "66aade651799c8f777e26ec9"
                                ],
                                "deleted": false,
                                "permissions": {
                                  "company-actions": false,
                                  "company-update": false,
                                  "connection-create": false,
                                  "connection-delete": false,
                                  "connection-modify": false,
                                  "connection-read": false,
                                  "order-create": false,
                                  "order-delete": false,
                                  "order-modify": false,
                                  "order-query": false,
                                  "ports-edit": false,
                                  "ports-read": false,
                                  "user-moderation": false
                                },
                                "queryable": false,
                                "permissionIds": [],
                                "companyIds": [],
                                "readOnly": true,
                                "policies": [
                                  {
                                    "name": "Console  - Company Members Read",
                                    "description": "Feature - ZScalerOrder",
                                    "definition": {
                                      "Statement": [
                                        {
                                          "Action": [
                                            "feature:EnableZScalerOrder"
                                          ],
                                          "Resource": [
                                            "*"
                                          ],
                                          "Effect": "Allow",
                                          "Sid": "enable-zscaler-order"
                                        }
                                      ]
                                    },
                                    "id": "66aade80e5efc037d719edce",
                                    "deletedAt": null
                                  }
                                ]
                              }
                            ],
                            "groups": {
                              "NETWORKCONTROL": {
                                "company-actions": false,
                                "company-update": false,
                                "connection-create": true,
                                "connection-delete": true,
                                "connection-modify": true,
                                "connection-read": true,
                                "order-create": true,
                                "order-delete": true,
                                "order-modify": true,
                                "order-query": true,
                                "ports-edit": true,
                                "ports-read": true,
                                "user-moderation": false
                              },
                              "USER": {
                                "company-actions": false,
                                "company-update": false,
                                "connection-create": false,
                                "connection-delete": false,
                                "connection-modify": false,
                                "connection-read": false,
                                "order-create": false,
                                "order-delete": false,
                                "order-modify": false,
                                "order-query": false,
                                "ports-edit": false,
                                "ports-read": false,
                                "user-moderation": false
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Your `userId`"
                    },
                    "companies": {
                      "type": "array",
                      "description": "Includes your companyId and companyName (click Drop-down in 'Example' and choose 'Get `companyId` (id) and `companyName` (username)')"
                    },
                    "linkUserCompany": {
                      "type": "object",
                      "description": "Linked company in your account. You can get your current account role/s in your linked company here. Can also see your `companyId` and `userId` here."
                    },
                    "capabilities": {
                      "type": "object"
                    },
                    "system": {
                      "type": "object"
                    },
                    "cloudProviderDetails": {
                      "type": "object"
                    },
                    "settings": {
                      "type": "object"
                    },
                    "stats": {
                      "type": "object"
                    },
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "avatarId": {
                      "type": "string"
                    },
                    "background": {
                      "type": "string"
                    },
                    "overviewImage": {
                      "type": "string"
                    },
                    "headline": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "legalEntityId": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "passwordUpdatedAt": {
                      "type": "string"
                    },
                    "canInviteExternal": {
                      "type": "boolean"
                    },
                    "optIntoMarketingEmail": {
                      "type": "boolean"
                    },
                    "groups": {
                      "type": "array"
                    },
                    "following": {
                      "type": "array"
                    },
                    "phone": {
                      "type": "number"
                    },
                    "needsEmailVerification": {
                      "type": "boolean"
                    },
                    "newEmail": {
                      "type": "string"
                    },
                    "displayOrder": {
                      "type": "number"
                    },
                    "newEmailTokenCreatedAt": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array"
                    },
                    "categories": {
                      "type": "array"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "verifiedIdentity": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "deletedAt": {
                      "type": "string"
                    },
                    "businessRegistrationNumber": {
                      "type": "string"
                    },
                    "isCloudProvider": {
                      "type": "boolean"
                    },
                    "signedCompanyRefId": {
                      "type": "string"
                    },
                    "signedCompanyVerified": {
                      "type": "boolean"
                    },
                    "accountManagerEmail": {
                      "type": "string"
                    },
                    "accountManagerId": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "lastLoggedIn": {
                      "type": "string"
                    },
                    "online": {
                      "type": "boolean"
                    },
                    "token": {
                      "type": "string"
                    },
                    "hasAcceptedConsoleTermsOfUse": {
                      "type": "boolean"
                    }
                  },
                  "title": "Auth token response schema",
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "No-Token-Provided": {
                    "summary": "No Token Provided",
                    "value": {
                      "message": "The user is not logged in",
                      "status": 401,
                      "statusCode": 401
                    }
                  },
                  "User-Logged-Out": {
                    "summary": "User logged out",
                    "value": {
                      "message": "The session token been deleted",
                      "status": 401,
                      "statusCode": 401
                    }
                  }
                }
              }
            },
            "description": "Unauthorized",
            "headers": {}
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Retrieve account details for the authenticated user.",
        "operationId": "GetLoggedInUser",
        "summary": "Get current user"
      }
    },
    "/app-user/{companyId}/agreements": {
      "get": {
        "parameters": [
          {
            "description": "The ObjectId of your company.",
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439011",
                        "version": "1.0,",
                        "date": "2022-08-24T05:10:59.418Z",
                        "type": "CONSOLE_PORT_SERVICE_TERMS",
                        "companyId": "507f191e810c19729de860ea"
                      }
                    ]
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Agreements"
        ],
        "description": "Get the agreements your company has agreed to.",
        "summary": "Get Agreements"
      },
      "post": {
        "parameters": [
          {
            "description": "The ObjectId of your company.",
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The agreement metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agreement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully accepted the agreement.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "id": "507f1f77bcf86cd799439011",
                      "version": "1.0,",
                      "date": "2022-08-24T05:10:59.418Z",
                      "type": "CONSOLE_PORT_SERVICE_TERMS",
                      "companyId": "507f191e810c19729de860ea"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Agreements"
        ],
        "description": "This API is used by the Console Connect Web application to record acceptance of agreements through the UI. API users must sign the Specific Terms for API Use.",
        "summary": "Accept an Agreement"
      }
    },
    "/api/search": {
      "get": {
        "parameters": [
          {
            "description": "The search string (username, name, location, bio, etc).",
            "example": "consoleconnect",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "One or more types of object to search for:\n* `everything`\n* `people`\n* `companies`\n* `dataCenterFacilities`\n* `directConnectPartner`\n\nMultiple `type` parameters may be provided to search for two or more object types.",
            "example": "everything",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page number to get.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of results per page to get.",
            "example": 12,
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sort Users, Companies, and DCFs by newest.",
            "example": true,
            "in": "query",
            "name": "newest",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "One or more userIds to search for Users, Companies, and DCFs by multiple `userId` parameters may be provided to search for two or more users.",
            "example": "235014958511023495968818",
            "in": "query",
            "name": "userId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "One or more tags to search for.",
            "example": "sales",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start time for filtering events.",
            "example": "2015-10-07T22:37:51.732Z",
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End time for filtering events.",
            "example": "2015-10-07T22:37:51.732Z",
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "example": {
                  "results": [
                    {
                      "title": "Frederic Citizen",
                      "type": "user",
                      "description": "",
                      "isFollowing": false,
                      "isCompanyFollowing": {
                        "corl": false
                      },
                      "data": {
                        "id": "5552a04804972e1f16dcc0d6",
                        "type": "PERSON",
                        "name": "Stan Sample",
                        "avatar": null,
                        "headline": null,
                        "summary": null,
                        "location": null,
                        "username": "stan_sample",
                        "social": null,
                        "groups": null,
                        "updatedAt": "2015-06-22T06:02:42.075Z",
                        "createdAt": "2015-05-13T00:52:24.721Z"
                      }
                    }
                  ],
                  "items": {
                    "users": [
                      {
                        "id": "56159ebe6c11fef4510bfdc7",
                        "name": "Frederic Citizen",
                        "avatar": null,
                        "background": null,
                        "headline": "I <3 Networks",
                        "summary": "IP Engineer",
                        "location": "Mt Example, TX",
                        "username": "fredcit",
                        "social": null,
                        "tags": [
                          "#baseball",
                          "#football"
                        ],
                        "updatedAt": "2015-10-07T22:37:51.732Z",
                        "createdAt": "2015-10-07T22:37:50.543Z",
                        "companies": [
                          {
                            "id": "56159ebf6c11fef4510bfdcc",
                            "name": "ExCo LLC",
                            "avatar": null,
                            "background": null,
                            "headline": null,
                            "summary": null,
                            "location": null,
                            "username": "exco",
                            "followers": [
                              "56159ebe6c11fef4510bfdc7"
                            ],
                            "following": null,
                            "tags": [],
                            "verified": true,
                            "company": {
                              "website": null,
                              "industry": null,
                              "businessType": null,
                              "companySize": null,
                              "dateFounded": null,
                              "markets": {},
                              "asns": null,
                              "regionalInternetRegistry": null,
                              "clientId": null,
                              "first": null,
                              "last": null,
                              "address": null,
                              "city": null,
                              "state": null,
                              "zip": null,
                              "addresses": null,
                              "phone": null,
                              "fax": null,
                              "email": null,
                              "country": null
                            },
                            "linkUserCompany": {}
                          }
                        ],
                        "linkUserCompany": {
                          "56159ebf6c11fef4510bfdcc": {
                            "id": "56159ebf6c11fef4510bfdcd",
                            "userId": "56159ebe6c11fef4510bfdc7",
                            "companyId": "56159ebf6c11fef4510bfdcc",
                            "state": "ACTIVE",
                            "roles": [
                              "ADMIN"
                            ],
                            "updatedAt": "2015-10-07T22:37:51.225Z",
                            "createdAt": "2015-10-07T22:37:51.225Z",
                            "deleted": false,
                            "deletedAt": "1970-01-01T00:00:00.000Z",
                            "permissions": {
                              "groups": {
                                "ADMIN": {
                                  "user-moderation": true,
                                  "company-actions": true,
                                  "company-update": true,
                                  "ports-edit": true,
                                  "ports-read": true,
                                  "connection-create": true,
                                  "connection-modify": true,
                                  "connection-read": true,
                                  "connection-delete": true,
                                  "order-query": true,
                                  "order-create": true,
                                  "order-modify": true,
                                  "order-delete": true
                                }
                              }
                            }
                          }
                        },
                        "stats": {
                          "followers": 0,
                          "interconnections": 0,
                          "posts": 1,
                          "events": 1,
                          "following": 1
                        },
                        "isFollowing": false,
                        "isCompanyFollowing": {}
                      }
                    ],
                    "companies": [],
                    "dataCenterFacilities": []
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Search"
        ],
        "description": "> **This endpoint is deprecated. Please use specialized search endpoints outlined in other sections of the documentation.**\n\nAn api for searching multiple entities on our platform. While this particular endpoint is convenient for finding multiple types of entities, we highly recommend using more granular search apis listed in the Users, Companies, and DCF sections.",
        "operationId": "legacy-search",
        "summary": "Search Users, Companies, and DCFs"
      }
    },
    "/api/pricing/calculate": {
      "post": {
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ports": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dcf": {
                          "type": "string",
                          "description": "The ID of the DCF the port will be located in."
                        },
                        "speed": {
                          "type": "number",
                          "description": "The required speed of the port."
                        }
                      }
                    }
                  },
                  "connections": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "bandwidth": {
                          "type": "number",
                          "description": "The required bandwidth of the connection."
                        },
                        "classOfService": {
                          "type": "string",
                          "enum": [
                            "GOLD",
                            "SILVERPLUS",
                            "SILVER",
                            "BRONZE"
                          ],
                          "description": "The class of service."
                        },
                        "duration": {
                          "$ref": "#/components/schemas/Duration"
                        },
                        "srcDcf": {
                          "type": "string",
                          "description": "The ID of the source (A-end) Data Center Facility."
                        },
                        "srcRegion": {
                          "type": "string",
                          "description": "The ID of the source (A-end) region."
                        },
                        "destDcf": {
                          "type": "string",
                          "description": "The ID of the destination/ (Z-end) Data Center Facility"
                        },
                        "destRegion": {
                          "type": "string",
                          "description": "The ID of the region of the destination (Z-end) region"
                        }
                      }
                    }
                  },
                  "discountCode": {
                    "type": "string",
                    "description": ""
                  },
                  "includeCrossConnect": {
                    "type": "boolean",
                    "description": "set to true when getting price for CrossConnect"
                  }
                }
              },
              "examples": {
                "Single-Port": {
                  "summary": "Single Port",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1
                      }
                    ],
                    "connections": []
                  }
                },
                "Single-Port-with-Cross-Connect": {
                  "summary": "Single Port with Cross Connect",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1
                      }
                    ],
                    "connections": [],
                    "includeCrossConnect": true
                  }
                },
                "Multiple-Ports": {
                  "summary": "Multiple Ports",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1
                      },
                      {
                        "dcf": "a91112e9f1ba91181950ba91",
                        "speed": 10
                      }
                    ],
                    "connections": []
                  }
                },
                "Single-Connections": {
                  "summary": "Single Connections",
                  "value": {
                    "ports": [],
                    "connections": [
                      {
                        "bandwidth": 10,
                        "classOfService": "SILVER",
                        "duration": null,
                        "value": 12,
                        "unit": "m",
                        "srcDcf": "5a8a4838af6c690012871666",
                        "srcRegion": "5a80c7be1347a30012dd1c55",
                        "destDcf": "5a9739ccfae7ba00134d378b",
                        "destRegion": "5a80c78c1347a30012dd1c53"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "Single-Port": {
                    "summary": "Single Port",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "iAdvantage MEGA-i",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1,
                            "discountId": ""
                          },
                          "price": 300,
                          "preAuthAmount": 300,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        }
                      ]
                    }
                  },
                  "Single-Port-with-Cross-Connect": {
                    "summary": "Single Port with Cross Connect",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "iAdvantage MEGA-i",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1,
                            "discountId": ""
                          },
                          "price": 300,
                          "preAuthAmount": 300,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          },
                          "crossConnectAmount": 60
                        }
                      ]
                    }
                  },
                  "Single-Connection": {
                    "summary": "Single Connection",
                    "value": {
                      "results": [
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "iAdvantage MEGA-i",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Equinix - LD8",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "w",
                              "value": 1
                            },
                            "bandwidth": 10,
                            "classOfService": "SILVER"
                          },
                          "price": 36,
                          "preAuthAmount": 36,
                          "basicTotalAmount": 36,
                          "basicMonthlyAmount": 36,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No price was found for this combination."
          },
          "400": {
            "description": "error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "invalid-dcf": {
                    "summary": "invalid dcf",
                    "value": {
                      "code": 400,
                      "message": "Invalid dcf property. This value should be the dcf ID."
                    }
                  },
                  "invalid-srcDcf": {
                    "summary": "invalid srcDcf",
                    "value": {
                      "code": 400,
                      "message": "Invalid srcDcf property. This value should be the srcDcf ID."
                    }
                  },
                  "invalid-discount-code": {
                    "summary": "invalid discount code",
                    "value": {
                      "code": 400,
                      "message": "INVALID CODE"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Pricing"
        ],
        "description": "",
        "operationId": "calculate-price-for-ports-and-connections",
        "summary": "Ports and Connections."
      }
    },
    "/api/company/{username}/pricing/calculate/flex": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "description": "The username of the company.",
            "example": "company_co",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The connection ID of the connection you want to get flex pricing for."
                  },
                  "flexBandwidth": {
                    "type": "string",
                    "description": "The additional bandwidth to be added to the connection."
                  },
                  "discountCode": {
                    "type": "string",
                    "description": "Any discount code you may have been provided."
                  }
                },
                "required": [
                  "connectionId",
                  "flexBandwidth"
                ]
              },
              "examples": {
                "Without-Discount": {
                  "summary": "Without Discount",
                  "value": {
                    "connectionId": "95908593icTTl895393135Y7K",
                    "flexBandwidth": "100"
                  }
                },
                "With-Discount-Code": {
                  "summary": "With Discount Code",
                  "value": {
                    "connectionId": "95908593icTTl895393135Y7K",
                    "flexBandwidth": "100",
                    "discountCode": "FIRSTCONNECTION"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connectionId": {
                      "type": "string",
                      "description": "The connection ID of the connection you want to get flex pricing for."
                    },
                    "flexBandwidth": {
                      "type": "number",
                      "description": ""
                    },
                    "flexCharge": {
                      "type": "number",
                      "description": "The additional charge for flexing the connection by the stated amount."
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "connectionId": "95908593icTTl895393135Y7K",
                      "flexBandwidth": 100,
                      "flexCharge": 97
                    }
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "204": {
            "description": "No price was found for this combination."
          },
          "400": {
            "description": "error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "missing-parameter": {
                    "summary": "missing parameter",
                    "value": {
                      "code": 400,
                      "message": "flex price calculate payload must have a connectionId"
                    }
                  },
                  "invalid-discount-code": {
                    "summary": "invalid discount code",
                    "value": {
                      "code": 400,
                      "message": "Invalid Code"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Pricing"
        ],
        "description": "Retrieve flex pricing for a connection.",
        "operationId": "connection-flex-price-calculate",
        "summary": "Connections - Flex pricing"
      }
    },
    "/api/v2/pricing/gia/byCompanyAndPort": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Company.",
            "example": "507f1f77bcf86cd799439011",
            "in": "query",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the Port.",
            "example": "507f191e810c19729de860ea",
            "in": "query",
            "name": "portId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The desired bandwidth for the GIA service.",
            "example": "10",
            "in": "query",
            "name": "bandwidth",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the company.",
            "example": "12",
            "in": "query",
            "name": "durationValue",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A unit of time such as days, months, and years. Value can be one of: d, w, m, y.",
            "example": "m",
            "in": "query",
            "name": "durationUnit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "Optional discount code.",
            "name": "discountCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GiaPricing-OneOff"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-Recurring"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-NoPrice"
                    }
                  ]
                },
                "examples": {
                  "prices-with-duration-greater-than-one-month": {
                    "summary": "prices with duration greater than one month",
                    "value": {
                      "duration": {
                        "value": 24,
                        "unit": "m"
                      },
                      "burstRate": 0.99,
                      "contractTotals": {
                        "giaCost": 100,
                        "ipCosts": {
                          "ipv426Cost": 10,
                          "ipv427Cost": 10,
                          "ipv428Cost": 10,
                          "ipv429Cost": 20,
                          "ipv430Cost": 30
                        }
                      },
                      "unitCosts": {
                        "giaCost": "20,",
                        "ipCosts": {
                          "ipv426Cost": 1,
                          "ipv427Cost": 1,
                          "ipv428Cost": 1,
                          "ipv429Cost": 2,
                          "ipv430Cost": 3
                        }
                      }
                    }
                  },
                  "prices-with-duration-less-than-one-month": {
                    "summary": "prices with duration less than one month",
                    "value": {
                      "onceOff": {
                        "giaCost": 100,
                        "ipCosts": null
                      },
                      "burstRate": 0.99,
                      "duration": {
                        "unit": "d",
                        "value": 6
                      }
                    }
                  },
                  "no-price": {
                    "summary": "no price",
                    "value": {
                      "message": "No prices are available for GIA in the specified Port's Metro"
                    }
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-required": {
                    "summary": "company required",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "companyId is a required argument"
                      }
                    }
                  },
                  "invalid-bandwidth": {
                    "summary": "invalid bandwidth",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Value is not a number."
                      }
                    }
                  },
                  "bandwidth-must-be-a-positive-number": {
                    "summary": "bandwidth must be a positive number",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Port bandwidth must be a positive integer in Mbps."
                      }
                    }
                  },
                  "duration-must-be-valid": {
                    "summary": "duration must be valid",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Value is not a number."
                      }
                    }
                  },
                  "duration-must-be-a-positive-number": {
                    "summary": "duration must be a positive number",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "2.1 is not a positive integer. Duration quantity must be a positive integer"
                      }
                    }
                  },
                  "durationUnit-must-be-valid-unit": {
                    "summary": "durationUnit must be a valid unit",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "x is not a valid duration unit. Valid units are: \"d\", \"w\", \"m\", \"y\""
                      }
                    }
                  },
                  "bandwidth-too-large": {
                    "summary": "bandwidth too large",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "The requested bandwidth exceeds the available capacity for the Port. Max is: 10"
                      }
                    }
                  },
                  "unsupported-port": {
                    "summary": "unsupported port",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Internet on demand is not available on port with ID 507f191e810c19729de860ea .  Please select another port or contact support@consoleconnect.com if you want Internet on demand at this location."
                      }
                    }
                  },
                  "invalid-request": {
                    "summary": "invalid request",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Invalid request for GIA pricing"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-not-found": {
                    "summary": "company not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A company can not be found with the given id"
                      }
                    }
                  },
                  "port-not-found": {
                    "summary": "port not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A port can not be found with the given id"
                      }
                    }
                  },
                  "unavailable": {
                    "summary": "unavailable",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "Gia service is turned off now."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Pricing"
        ],
        "description": "Get Internet On-Demand pricing by company and port.",
        "operationId": "iod-pricing-by-company-and-port",
        "summary": "Internet On-Demand - Company and Port"
      }
    },
    "/api/v2/pricing/gia/byDcf": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Data Center Facility.",
            "example": "507f191e810c19729de860ea",
            "in": "query",
            "name": "dcfId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The desired bandwidth for the GIA Service.",
            "example": "10",
            "in": "query",
            "name": "bandwidth",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the company.",
            "example": "12",
            "in": "query",
            "name": "durationValue",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A unit of time such as days, months, and years. Value can be one of: d, w, m, y.",
            "example": "m",
            "in": "query",
            "name": "durationUnit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "Optional discount code.",
            "name": "discountCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "The ID of the Company.",
            "example": "507f1f77bcf86cd799439011",
            "name": "companyId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GiaPricing-OneOff"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-Recurring"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-NoPrice"
                    }
                  ]
                },
                "examples": {
                  "prices-with-duration-greater-than-one-month": {
                    "summary": "prices with a duration greater than one month",
                    "value": {
                      "duration": {
                        "value": 24,
                        "unit": "m"
                      },
                      "burstRate": 0.99,
                      "contractTotals": {
                        "giaCost": 100,
                        "ipCosts": {
                          "ipv426Cost": 10,
                          "ipv427Cost": 10,
                          "ipv428Cost": 10,
                          "ipv429Cost": 20,
                          "ipv430Cost": 30
                        }
                      },
                      "unitCosts": {
                        "giaCost": "20,",
                        "ipCosts": {
                          "ipv426Cost": 1,
                          "ipv427Cost": 1,
                          "ipv428Cost": 1,
                          "ipv429Cost": 2,
                          "ipv430Cost": 3
                        }
                      }
                    }
                  },
                  "prices-with-duration-less-than-one-month": {
                    "summary": "prices with duration less than one month",
                    "value": {
                      "onceOff": {
                        "giaCost": 100,
                        "ipCosts": null
                      },
                      "burstRate": 0.99,
                      "duration": {
                        "unit": "d",
                        "value": 6
                      }
                    }
                  },
                  "no-prices": {
                    "summary": "no prices",
                    "value": {
                      "message": "No prices are available for GIA in the specified Port's Metro"
                    }
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-required": {
                    "summary": "company required",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "dcfId is a required argument"
                      }
                    }
                  },
                  "invalid-bandwidth": {
                    "summary": "invalid bandwidth",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Value is not a number."
                      }
                    }
                  },
                  "bandwidth-must-be-a-positive-number": {
                    "summary": "bandwidth must be a positive number",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Port bandwidth must be a positive integer in Mbps."
                      }
                    }
                  },
                  "duration-must-be-valid": {
                    "summary": "duration must be valid",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Value is not a number."
                      }
                    }
                  },
                  "duration-must-be-a-positive-number": {
                    "summary": "duration must be a positive number",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "2.1 is not a positive integer. Duration quantity must be a positive integer"
                      }
                    }
                  },
                  "durationUnit-must-be-valid-unit": {
                    "summary": "durationUnit must be a valid unit",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "x is not a valid duration unit. Valid units are: \"d\", \"w\", \"m\", \"y\""
                      }
                    }
                  },
                  "invalid-request": {
                    "summary": "invalid request",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Invalid request for GIA pricing"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-not-found": {
                    "summary": "company not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A company can not be found with the given id"
                      }
                    }
                  },
                  "dcf-not-found": {
                    "summary": "dcf not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A data centre facility can not be found with the given id"
                      }
                    }
                  },
                  "unavailable": {
                    "summary": "unavailable",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "Gia Service is turned off now."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Pricing"
        ],
        "description": "An error will be returned if there was no pricing found for a service with the desired bandwidth. Please contact your BDM or Support if this happens.",
        "operationId": "iod-pricing-by-DCF",
        "summary": "Internet on Demand - DCF"
      }
    },
    "/api/v2/pricing/gia/bulkByDcf": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Data Center Facility.",
            "example": "507f191e810c19729de860ea",
            "in": "query",
            "name": "dcfId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "priceRequests",
            "description": "An array of objects with the price request details as a JSON serialised string.",
            "required": true,
            "example": [
              {
                "bandwidth": 10,
                "durationValue": 2,
                "durationUnit": "y"
              },
              {
                "bandwidth": 10,
                "durationValue": 1,
                "durationUnit": "y"
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bandwidth": {
                        "type": "number",
                        "description": ""
                      },
                      "durationValue": {
                        "type": "number",
                        "description": ""
                      },
                      "durationUnit": {
                        "type": "string",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/GiaPricing-OneOff"
                      },
                      {
                        "$ref": "#/components/schemas/GiaPricing-Recurring"
                      },
                      {
                        "$ref": "#/components/schemas/GiaPricing-NoPrice"
                      }
                    ]
                  }
                },
                "examples": {
                  "mixed-response": {
                    "summary": "mixed response",
                    "value": [
                      {
                        "duration": {
                          "value": 24,
                          "unit": "m"
                        },
                        "burstRate": 0.99,
                        "contractTotals": {
                          "giaCost": 100,
                          "ipCosts": {
                            "ipv426Cost": 10,
                            "ipv427Cost": 10,
                            "ipv428Cost": 10,
                            "ipv429Cost": 20,
                            "ipv430Cost": 30
                          }
                        },
                        "unitCosts": {
                          "giaCost": "20,",
                          "ipCosts": {
                            "ipv426Cost": 1,
                            "ipv427Cost": 1,
                            "ipv428Cost": 1,
                            "ipv429Cost": 2,
                            "ipv430Cost": 3
                          }
                        }
                      },
                      {
                        "onceOff": {
                          "giaCost": 100,
                          "ipCosts": null
                        },
                        "burstRate": 0.99,
                        "duration": {
                          "unit": "d",
                          "value": 6
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-not-found": {
                    "summary": "company not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A company can not be found with the given id"
                      }
                    }
                  },
                  "unavailable": {
                    "summary": "unavailable",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "Gia Service is turned off now."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Pricing"
        ],
        "description": "Get Internet On-Demand prices for multiple DCFs in a single call.",
        "operationId": "iod-pricing-by-DCF-bulk",
        "summary": "Internet On-Demand - DCF (bulk)"
      }
    },
    "/api/v2/pricing/flex-iod/{giaServiceId}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the IoD service to flex.",
[...]
