{
  "openapi": "3.0.0",
  "info": {
    "description": "This document provides an API reference, grouped by function, describing how to use the Console Connect REST API.\nProducts available through the Console Connect API include:\n* [Ports](#tag/Ports) - A port allows customers to access multiple on-demand Console Connect services, including access to cloud services, geographically separate networks (such as remote or branch offices) and the Internet, via a single network connection. \n* [L2 Connections](#tag/L2-Connections) - Console Connect's point-to-point Layer 2 connection is a secured virtual private Ethernet service, transported via a fully redundant Multi-Protocol Label Switching (MPLS) enabled IP infrastructure provided by Console Connect.\n* [Internet On-Demand (IO-D)](#tag/Internet-On-Demand-(IO-D)) - The IO-D service is carried on a fully redundant dual-stack global IP network, providing business-grade internet connectivity for enterprises and service providers.\n* [CloudRouter](#tag/CloudRouter) - CloudRouter is an MPLS VPN IP based infrastructure service which provides a private Layer 3 meshed network between multiple locations and network endpoints globally for enterprises and service providers.",
    "title": "Console Connect API",
    "version": "1.59.2",
    "license": {
      "name": "Commercial",
      "url": "https://www.consoleconnect.com/terms-of-use"
    },
    "termsOfService": "https://www.consoleconnect.com/terms-of-use",
    "x-logo": {
      "url": "https://storage.googleapis.com/console-connect-static-assets/cc-api-logo.jpg",
      "altText": "Console Connect logo"
    },
    "contact": {
      "name": "Console Connect Support",
      "email": "support@consoleconnect.com"
    }
  },
  "servers": [
    {
      "url": "https://api.consoleconnect.com"
    }
  ],
  "paths": {
    "/app-user/{companyId}/agreements": {
      "get": {
        "parameters": [
          {
            "description": "The ObjectId of your company.",
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "id": "507f1f77bcf86cd799439011",
                        "version": "1.0,",
                        "date": "2022-08-24T05:10:59.418Z",
                        "type": "CONSOLE_PORT_SERVICE_TERMS",
                        "companyId": "507f191e810c19729de860ea"
                      }
                    ]
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          }
        },
        "tags": ["Agreements"],
        "description": "Get the agreements your company has agreed to.",
        "summary": "Get Agreements",
        "operationId": "GetAgreements"
      }
    },
    "/api/search": {
      "get": {
        "parameters": [
          {
            "description": "The search string (username, name, location, bio, etc).",
            "example": "consoleconnect",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "One or more types of object to search for:\n* `everything`\n* `people`\n* `companies`\n* `dataCenterFacilities`\n* `directConnectPartner`\n\nMultiple `type` parameters may be provided to search for two or more object types.",
            "example": "everything",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page number to get.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of results per page to get.",
            "example": 12,
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sort Users, Companies, and DCFs by newest.",
            "example": true,
            "in": "query",
            "name": "newest",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "One or more userIds to search for Users, Companies, and DCFs by multiple `userId` parameters may be provided to search for two or more users.",
            "example": "235014958511023495968818",
            "in": "query",
            "name": "userId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "One or more tags to search for.",
            "example": "sales",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start time for filtering events.",
            "example": "2015-10-07T22:37:51.732Z",
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End time for filtering events.",
            "example": "2015-10-07T22:37:51.732Z",
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "example": {
                  "results": [
                    {
                      "title": "Frederic Citizen",
                      "type": "user",
                      "description": "",
                      "isFollowing": false,
                      "isCompanyFollowing": {
                        "corl": false
                      },
                      "data": {
                        "id": "5552a04804972e1f16dcc0d6",
                        "type": "PERSON",
                        "name": "Stan Sample",
                        "avatar": null,
                        "headline": null,
                        "summary": null,
                        "location": null,
                        "username": "stan_sample",
                        "social": null,
                        "groups": null,
                        "updatedAt": "2015-06-22T06:02:42.075Z",
                        "createdAt": "2015-05-13T00:52:24.721Z"
                      }
                    }
                  ],
                  "items": {
                    "users": [
                      {
                        "id": "56159ebe6c11fef4510bfdc7",
                        "name": "Frederic Citizen",
                        "avatar": null,
                        "background": null,
                        "headline": "I <3 Networks",
                        "summary": "IP Engineer",
                        "location": "Mt Example, TX",
                        "username": "fredcit",
                        "social": null,
                        "tags": ["#baseball", "#football"],
                        "updatedAt": "2015-10-07T22:37:51.732Z",
                        "createdAt": "2015-10-07T22:37:50.543Z",
                        "companies": [
                          {
                            "id": "56159ebf6c11fef4510bfdcc",
                            "name": "ExCo LLC",
                            "avatar": null,
                            "background": null,
                            "headline": null,
                            "summary": null,
                            "location": null,
                            "username": "exco",
                            "followers": ["56159ebe6c11fef4510bfdc7"],
                            "following": null,
                            "tags": [],
                            "verified": true,
                            "company": {
                              "website": null,
                              "industry": null,
                              "businessType": null,
                              "companySize": null,
                              "dateFounded": null,
                              "markets": {},
                              "asns": null,
                              "regionalInternetRegistry": null,
                              "clientId": null,
                              "first": null,
                              "last": null,
                              "address": null,
                              "city": null,
                              "state": null,
                              "zip": null,
                              "addresses": null,
                              "phone": null,
                              "fax": null,
                              "email": null,
                              "country": null
                            },
                            "linkUserCompany": {}
                          }
                        ],
                        "linkUserCompany": {
                          "56159ebf6c11fef4510bfdcc": {
                            "id": "56159ebf6c11fef4510bfdcd",
                            "userId": "56159ebe6c11fef4510bfdc7",
                            "companyId": "56159ebf6c11fef4510bfdcc",
                            "state": "ACTIVE",
                            "roles": ["ADMIN"],
                            "updatedAt": "2015-10-07T22:37:51.225Z",
                            "createdAt": "2015-10-07T22:37:51.225Z",
                            "deleted": false,
                            "deletedAt": "1970-01-01T00:00:00.000Z",
                            "permissions": {
                              "groups": {
                                "ADMIN": {
                                  "user-moderation": true,
                                  "company-actions": true,
                                  "company-update": true,
                                  "ports-edit": true,
                                  "ports-read": true,
                                  "connection-create": true,
                                  "connection-modify": true,
                                  "connection-read": true,
                                  "connection-delete": true,
                                  "order-query": true,
                                  "order-create": true,
                                  "order-modify": true,
                                  "order-delete": true
                                }
                              }
                            }
                          }
                        },
                        "stats": {
                          "followers": 0,
                          "interconnections": 0,
                          "posts": 1,
                          "events": 1,
                          "following": 1
                        },
                        "isFollowing": false,
                        "isCompanyFollowing": {}
                      }
                    ],
                    "companies": [],
                    "dataCenterFacilities": []
                  }
                }
              }
            }
          }
        },
        "tags": ["Search"],
        "description": "> **This endpoint is deprecated. Please use specialized search endpoints outlined in other sections of the documentation.**\n\nAn api for searching multiple entities on our platform. While this particular endpoint is convenient for finding multiple types of entities, we highly recommend using more granular search apis listed in the Users, Companies, and DCF sections.",
        "operationId": "legacy-search",
        "summary": "Search Users, Companies, and DCFs"
      }
    },
    "/api/pricing/calculate": {
      "post": {
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ports": {
                    "description": "List of ports to get pricing for.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dcf": {
                          "type": "string",
                          "description": "The ID of the DCF the port will be located in.\n\nSee [List DCFs API](#tag/Data-Center-Facilities-(DCFs)/operation/getDcfs)"
                        },
                        "speed": {
                          "type": "number",
                          "description": "The required speed of the port in Mbps, e.g., 1000 = 1000Mbps or 1Gbps, 10000 = 10Gbps",
                          "example": 1000
                        },
                        "durationUnit": {
                          "type": "string",
                          "description": "Set to `m` if the Data Center accepts month-to-month port orders.",
                          "default": "y",
                          "enum": ["y", "m"]
                        }
                      },
                      "required": ["dcf", "speed"]
                    }
                  },
                  "connections": {
                    "description": "List of layer 2 connections to get pricing for.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "bandwidth": {
                          "type": "number",
                          "description": "The required bandwidth of the connection in Mbps, e.g., 30 = 30Mbps, 100 = 100Mbps, 1000 = 1Gbps"
                        },
                        "classOfService": {
                          "type": "string",
                          "enum": ["GOLD", "SILVER", "BRONZE"],
                          "description": "The class of service."
                        },
                        "duration": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Duration"
                            },
                            {
                              "description": "Specify duration information."
                            },
                            {
                              "required": ["value", "unit"]
                            }
                          ]
                        },
                        "srcDcf": {
                          "type": "string",
                          "description": "The ID of the source (A-end) Data Center Facility.\n\nSee [List DCFs API](#tag/Data-Center-Facilities-(DCFs)/operation/getDcfs)"
                        },
                        "srcRegion": {
                          "type": "string",
                          "description": "The ID of the source (A-end) region. (Optional)"
                        },
                        "destDcf": {
                          "type": "string",
                          "description": "The ID of the destination/ (Z-end) Data Center Facility.\n\nSee [List DCFs API](#tag/Data-Center-Facilities-(DCFs)/operation/getDcfs)"
                        },
                        "destRegion": {
                          "type": "string",
                          "description": "The ID of the region of the destination (Z-end) region. (Optional)"
                        }
                      },
                      "required": [
                        "bandwidth",
                        "classOfService",
                        "duration",
                        "srcDcf",
                        "destDcf"
                      ]
                    }
                  },
                  "discountCode": {
                    "type": "string",
                    "description": "Apply promotion or partner code."
                  },
                  "includeCrossConnect": {
                    "type": "boolean",
                    "description": "Set to `true` to have the Cross Connect add-on with your port if your DCF supports this.\nOnly available in a 12 month contract."
                  }
                }
              },
              "examples": {
                "Single-Port": {
                  "summary": "Single Port with 1,000 Mbps for 12 months",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1000,
                        "durationUnit": "y"
                      }
                    ]
                  }
                },
                "Single-Port-with-Cross-Connect": {
                  "summary": "Single Port with 1,000 Mbps and Cross Connect Add-on for 12 months",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1000,
                        "durationUnit": "y"
                      }
                    ],
                    "includeCrossConnect": true
                  }
                },
                "Single-Port-with-Discount": {
                  "summary": "Single Port with 1,000 Mbps and Discount for 12 months",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 1000,
                        "durationUnit": "y"
                      }
                    ],
                    "discountCode": "DISCOUNTDEMO"
                  }
                },
                "Multiple-Ports": {
                  "summary": "Multiple Ports",
                  "value": {
                    "ports": [
                      {
                        "dcf": "5a8ba9118195000012e9f141",
                        "speed": 10000,
                        "durationUnit": "y"
                      },
                      {
                        "dcf": "a91112e9f1ba91181950ba91",
                        "speed": 1000,
                        "durationUnit": "m"
                      }
                    ]
                  }
                },
                "Single-Connection": {
                  "summary": "Single Connection with 20 Mbps bandwidth for 1 month",
                  "value": {
                    "connections": [
                      {
                        "bandwidth": 20,
                        "classOfService": "SILVER",
                        "duration": {
                          "value": 1,
                          "unit": "m"
                        },
                        "srcDcf": "5a8a4838af6c690012871666",
                        "destDcf": "5a9739ccfae7ba00134d378b"
                      }
                    ]
                  }
                },
                "Single-Connection-with-Discount": {
                  "summary": "Single Connection with 50 Mbps bandwidth and Discount for 12 months",
                  "value": {
                    "connections": [
                      {
                        "bandwidth": 50,
                        "classOfService": "GOLD",
                        "duration": {
                          "value": 12,
                          "unit": "m"
                        },
                        "srcDcf": "5a8a4838af6c690012871666",
                        "destDcf": "5a9739ccfae7ba00134d378b"
                      }
                    ],
                    "discountCode": "DISCOUNTDEMO"
                  }
                },
                "Multiple-Connections": {
                  "summary": "Multiple Connections",
                  "value": {
                    "connections": [
                      {
                        "bandwidth": 20,
                        "classOfService": "SILVER",
                        "duration": {
                          "value": 1,
                          "unit": "w"
                        },
                        "srcDcf": "5a8a4838af6c690012871666",
                        "destDcf": "5a9739ccfae7ba00134d378b"
                      },
                      {
                        "bandwidth": 20,
                        "classOfService": "SILVER",
                        "duration": {
                          "value": 1,
                          "unit": "m"
                        },
                        "srcDcf": "5a8a4838af6c690012871666",
                        "destDcf": "5a9739ccfae7ba00134d378b"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortsConnectionsResponse"
                },
                "examples": {
                  "Single-Port": {
                    "summary": "Single Port with 1,000 Mbps for 12 months",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1000,
                            "discountId": "",
                            "durationUnit": "y"
                          },
                          "price": 300,
                          "preAuthAmount": 300,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        }
                      ]
                    }
                  },
                  "Single-Port-with-Cross-Connect": {
                    "summary": "Single Port with 1,000 Mbps and Cross Connect Add-on for 12 months",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1000,
                            "discountId": "",
                            "durationUnit": "y"
                          },
                          "price": 300,
                          "preAuthAmount": 300,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          },
                          "crossConnectAmount": 65
                        }
                      ]
                    }
                  },
                  "Single-Port-with-Discount": {
                    "summary": "Single Port with 1,000 Mbps and Discount for 12 months",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1000,
                            "discountId": "66c2a7ec914c31947866412b",
                            "durationUnit": "y"
                          },
                          "price": 90,
                          "preAuthAmount": 90,
                          "amountSaved": 210,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          },
                          "discount": {
                            "discountType": "percentage",
                            "marketingCode": "DISCOUNTDEMO",
                            "duration": "recurring",
                            "applicableProducts": [],
                            "applicableDcfs": [],
                            "applicableMetros": [],
                            "purchasingCompanies": [],
                            "destinationCompanies": [],
                            "value": 70,
                            "tierType": "none",
                            "tiers": [],
                            "id": "66c2a7ec914c31947866412b",
                            "deletedAt": null,
                            "createdAt": "2024-08-19T02:03:24.851Z",
                            "updatedAt": "2024-08-20T00:05:43.690Z",
                            "name": "Get 70% off",
                            "description": "70% Discount",
                            "tags": []
                          }
                        }
                      ]
                    }
                  },
                  "Multiple-Ports": {
                    "summary": "Multiple Ports",
                    "value": {
                      "results": [
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "5a8ba9118195000012e9f141",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 10000,
                            "discountId": "",
                            "durationUnit": "y"
                          },
                          "price": 400,
                          "preAuthAmount": 400,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null,
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        },
                        {
                          "type": "PORT",
                          "entity": {
                            "dcf": {
                              "id": "a91112e9f1ba91181950ba91",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "speed": 1000,
                            "discountId": "",
                            "durationUnit": "m"
                          },
                          "price": 450,
                          "preAuthAmount": 450,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": null,
                          "basicMonthlyAmount": null
                        }
                      ]
                    }
                  },
                  "Single-Connection": {
                    "summary": "Single Connection with 20 Mbps bandwidth for 1 month",
                    "value": {
                      "results": [
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "m",
                              "value": 1
                            },
                            "bandwidth": 20,
                            "classOfService": "SILVER",
                            "discountId": ""
                          },
                          "price": 80,
                          "preAuthAmount": 80,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": 80,
                          "basicMonthlyAmount": 80,
                          "formula": "(bandwidthCost*multiplier)*duration/(1-margin)+portFee",
                          "factors": [
                            {
                              "name": "margin",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "portFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "nniFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "bandwidthCost",
                              "number": 80,
                              "ref": {
                                "from": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "to": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "price": {
                                  "price": 1.75,
                                  "bandwidth": {
                                    "from": 1,
                                    "to": 100
                                  },
                                  "cos": "SILVER"
                                }
                              }
                            },
                            {
                              "name": "multiplier",
                              "number": 1,
                              "ref": null
                            },
                            {
                              "name": "duration",
                              "number": 1,
                              "ref": null
                            }
                          ],
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        }
                      ]
                    }
                  },
                  "Single-Connection-with-Discount": {
                    "summary": "Single Connection with 50 Mbps bandwidth and Discount for 12 months",
                    "value": {
                      "results": [
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "m",
                              "value": 12
                            },
                            "bandwidth": 50,
                            "classOfService": "GOLD",
                            "discountId": "66c2a7ec914c31947866412b"
                          },
                          "price": 279.36,
                          "preAuthAmount": 23.28,
                          "amountSaved": 54.32,
                          "amountSavedTotal": 651.84,
                          "basicTotalAmount": 279.36,
                          "basicMonthlyAmount": 23.28,
                          "formula": "(bandwidthCost*multiplier)*duration/(1-margin)+portFee",
                          "factors": [
                            {
                              "name": "margin",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "portFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "nniFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "bandwidthCost",
                              "number": 80,
                              "ref": {
                                "from": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "to": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "price": {
                                  "price": 3.23,
                                  "bandwidth": {
                                    "from": 1,
                                    "to": 100
                                  },
                                  "cos": "GOLD"
                                }
                              }
                            },
                            {
                              "name": "multiplier",
                              "number": 0.97,
                              "ref": null
                            },
                            {
                              "name": "duration",
                              "number": 12,
                              "ref": null
                            }
                          ],
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          },
                          "discount": {
                            "discountType": "percentage",
                            "marketingCode": "DISCOUNTDEMO",
                            "duration": "recurring",
                            "applicableProducts": [],
                            "applicableDcfs": [],
                            "applicableMetros": [],
                            "purchasingCompanies": [],
                            "destinationCompanies": [],
                            "value": 70,
                            "tierType": "none",
                            "tiers": [],
                            "id": "66c2a7ec914c31947866412b",
                            "deletedAt": null,
                            "createdAt": "2024-08-19T02:03:24.851Z",
                            "updatedAt": "2024-08-20T00:05:43.690Z",
                            "name": "Get 70% off",
                            "description": "70% Discount",
                            "tags": []
                          }
                        }
                      ]
                    }
                  },
                  "Multiple-Connections": {
                    "summary": "Multiple Connections",
                    "value": {
                      "results": [
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "w",
                              "value": 1
                            },
                            "bandwidth": 20,
                            "classOfService": "SILVER",
                            "discountId": ""
                          },
                          "price": 28.8,
                          "preAuthAmount": 28.8,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": 28.8,
                          "basicMonthlyAmount": 28.8,
                          "formula": "(bandwidthCost*multiplier)*duration/(1-margin)+portFee",
                          "factors": [
                            {
                              "name": "margin",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "portFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "nniFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "bandwidthCost",
                              "number": 80,
                              "ref": {
                                "from": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "to": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "price": {
                                  "price": 1.75,
                                  "bandwidth": {
                                    "from": 1,
                                    "to": 100
                                  },
                                  "cos": "SILVER"
                                }
                              }
                            },
                            {
                              "name": "multiplier",
                              "number": 0.36,
                              "ref": null
                            },
                            {
                              "name": "duration",
                              "number": 1,
                              "ref": null
                            }
                          ],
                          "priceCalculatorAttributes": {
                            "discountIds": [],
                            "discounts": []
                          }
                        },
                        {
                          "type": "CONNECTION",
                          "entity": {
                            "srcDcf": {
                              "id": "5a8a4838af6c690012871666",
                              "name": "Company A",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "destDcf": {
                              "id": "5a9739ccfae7ba00134d378b",
                              "name": "Company B",
                              "popId": null,
                              "regionIds": null,
                              "metroIds": null,
                              "tags": null
                            },
                            "duration": {
                              "from": null,
                              "to": null,
                              "unit": "m",
                              "value": 1
                            },
                            "bandwidth": 20,
                            "classOfService": "SILVER",
                            "discountId": ""
                          },
                          "price": 80,
                          "preAuthAmount": 80,
                          "amountSaved": null,
                          "amountSavedTotal": null,
                          "basicTotalAmount": 80,
                          "basicMonthlyAmount": 80,
                          "formula": "(bandwidthCost*multiplier)*duration/(1-margin)+portFee",
                          "factors": [
                            {
                              "name": "margin",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "portFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "nniFee",
                              "number": 0,
                              "ref": null
                            },
                            {
                              "name": "bandwidthCost",
                              "number": 80,
                              "ref": {
                                "from": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "to": {
                                  "id": "5ce379fc628923000a4fbe3b",
                                  "name": "EUROPE/UK",
                                  "regionIds": ["5a370b288f220300127f834d"]
                                },
                                "price": {
                                  "price": 1.75,
                                  "bandwidth": {
                                    "from": 1,
                                    "to": 100
                                  },
                                  "cos": "SILVER"
                                }
                              }
                            },
                            {
                              "name": "multiplier",
                              "number": 1,
                              "ref": null
                            },
                            {
                              "name": "duration",
                              "number": 1,
                              "ref": null
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No price was found for this combination.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "response": {
                    "value": {
                      "code": 204,
                      "message": "No Content"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "invalid-dcf": {
                    "summary": "invalid dcf",
                    "value": {
                      "code": 400,
                      "message": "Invalid dcf property. This value should be the dcf ID."
                    }
                  },
                  "invalid-srcDcf": {
                    "summary": "invalid srcDcf",
                    "value": {
                      "code": 400,
                      "message": "Invalid srcDcf property. This value should be the srcDcf ID."
                    }
                  },
                  "invalid-discount-code": {
                    "summary": "invalid discount code",
                    "value": {
                      "code": 400,
                      "message": "INVALID CODE"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Pricing"],
        "description": "Calculate pricing for Ports and Layer 2 Connections",
        "operationId": "calculate-price-for-ports-and-connections",
        "summary": "Ports and Connections"
      }
    },
    "/api/company/{username}/pricing/calculate/flex": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "description": "The username of the company.",
            "example": "company_co",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The connection ID of the connection you want to get flex pricing for."
                  },
                  "flexBandwidth": {
                    "type": "string",
                    "description": "The additional bandwidth to be added to the connection."
                  },
                  "discountCode": {
                    "type": "string",
                    "description": "Any discount code you may have been provided."
                  }
                },
                "required": ["connectionId", "flexBandwidth"]
              },
              "examples": {
                "Without-Discount": {
                  "summary": "Without Discount",
                  "value": {
                    "connectionId": "95908593icTTl895393135Y7K",
                    "flexBandwidth": "100"
                  }
                },
                "With-Discount-Code": {
                  "summary": "With Discount Code",
                  "value": {
                    "connectionId": "95908593icTTl895393135Y7K",
                    "flexBandwidth": "100",
                    "discountCode": "FIRSTCONNECTION"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connectionId": {
                      "type": "string",
                      "description": "The connection ID of the connection you want to get flex pricing for."
                    },
                    "flexBandwidth": {
                      "type": "number",
                      "description": ""
                    },
                    "flexCharge": {
                      "type": "number",
                      "description": "The additional charge for flexing the connection by the stated amount."
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "connectionId": "95908593icTTl895393135Y7K",
                      "flexBandwidth": 100,
                      "flexCharge": 97
                    }
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "204": {
            "description": "No price was found for this combination."
          },
          "400": {
            "description": "error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "missing-parameter": {
                    "summary": "missing parameter",
                    "value": {
                      "code": 400,
                      "message": "flex price calculate payload must have a connectionId"
                    }
                  },
                  "invalid-discount-code": {
                    "summary": "invalid discount code",
                    "value": {
                      "code": 400,
                      "message": "Invalid Code"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Pricing"],
        "description": "Retrieve flex pricing for a connection.",
        "operationId": "connection-flex-price-calculate",
        "summary": "Connections - Flex pricing"
      }
    },
    "/v2/pricing/gia/byCompanyAndPort": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Company.",
            "example": "507f1f77bcf86cd799439011",
            "in": "query",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the Port.",
            "example": "507f191e810c19729de860ea",
            "in": "query",
            "name": "portId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The desired bandwidth for the GIA service in Mbps.",
            "example": "10",
            "in": "query",
            "name": "bandwidth",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The duration the service was ordered for.",
            "example": "12",
            "in": "query",
            "name": "durationValue",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A unit of time such as days, weeks, months, and years. Value can be one of: d, w, m, y.",
            "example": "m",
            "in": "query",
            "name": "durationUnit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "Optional discount code.",
            "name": "discountCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GiaPricing-Recurring"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-OneOff"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-NoPrice"
                    }
                  ]
                },
                "examples": {
                  "prices-with-duration-greater-than-one-month": {
                    "summary": "prices with a duration greater than one month",
                    "value": {
                      "contractTotals": {
                        "giaCost": 3420,
                        "ipCosts": {
                          "ipv426Cost": 1596,
                          "ipv427Cost": 1140,
                          "ipv428Cost": 0,
                          "ipv429Cost": null,
                          "ipv430Cost": null
                        }
                      },
                      "unitCosts": {
                        "giaCost": 142.5,
                        "ipCosts": {
                          "ipv426Cost": 66.5,
                          "ipv427Cost": 47.5,
                          "ipv428Cost": 0,
                          "ipv429Cost": null,
                          "ipv430Cost": null
                        }
                      },
                      "contractTotalsAmountSaved": null,
                      "unitCostsAmountSaved": null,
                      "burstRate": 0.04681165489,
                      "duration": {
                        "unit": "m",
                        "value": 24
                      }
                    }
                  },
                  "prices-with-duration-less-than-one-month": {
                    "summary": "prices with duration less than one month",
                    "value": {
                      "onceOff": {
                        "giaCost": 73.97,
                        "ipCosts": {
                          "ipv426Cost": 34.52,
                          "ipv427Cost": 24.66,
                          "ipv428Cost": 0,
                          "ipv429Cost": null,
                          "ipv430Cost": null
                        }
                      },
                      "burstRate": 0.004050035038912062,
                      "duration": {
                        "unit": "d",
                        "value": 6
                      }
                    }
                  },
                  "no-price": {
                    "summary": "no price",
                    "value": {
                      "message": "No prices are available for GIA in the specified Port's Metro"
                    }
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-required": {
                    "summary": "company required",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "companyId is a required argument"
                      }
                    }
                  },
                  "invalid-bandwidth": {
                    "summary": "invalid bandwidth",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Value is not a number."
                      }
                    }
                  },
                  "bandwidth-must-be-a-positive-number": {
                    "summary": "bandwidth must be a positive number",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Port bandwidth must be a positive integer in Mbps."
                      }
                    }
                  },
                  "duration-must-be-valid": {
                    "summary": "duration must be valid",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Value is not a number."
                      }
                    }
                  },
                  "duration-must-be-a-positive-number": {
                    "summary": "duration must be a positive number",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "2.1 is not a positive integer. Duration quantity must be a positive integer"
                      }
                    }
                  },
                  "durationUnit-must-be-valid-unit": {
                    "summary": "durationUnit must be a valid unit",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "x is not a valid duration unit. Valid units are: \"d\", \"w\", \"m\", \"y\""
                      }
                    }
                  },
                  "bandwidth-too-large": {
                    "summary": "bandwidth too large",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "The requested bandwidth exceeds the available capacity for the Port. Max is: 10"
                      }
                    }
                  },
                  "unsupported-port": {
                    "summary": "unsupported port",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Internet on demand is not available on port with ID 507f191e810c19729de860ea .  Please select another port or contact support@consoleconnect.com if you want Internet on demand at this location."
                      }
                    }
                  },
                  "invalid-request": {
                    "summary": "invalid request",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Invalid request for GIA pricing"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-not-found": {
                    "summary": "company not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A company can not be found with the given id"
                      }
                    }
                  },
                  "port-not-found": {
                    "summary": "port not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A port can not be found with the given id"
                      }
                    }
                  },
                  "unavailable": {
                    "summary": "unavailable",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "Gia service is turned off now."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Pricing"],
        "description": "Get Internet On-Demand pricing by company and port.\n* **GIA Pricing Recurring** - Applicable charges for IO-D with service duration of *more* than a month.\n* **GIA Pricing OneOff** - Applicable charges for IO-D with service duration of *less* than a month.",
        "operationId": "iod-pricing-by-company-and-port",
        "summary": "Internet On-Demand - Company and Port"
      }
    },
    "/v2/pricing/gia/byDcf": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Data Center Facility.",
            "example": "507f191e810c19729de860ea",
            "in": "query",
            "name": "dcfId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The desired bandwidth for the GIA Service in Mbps.",
            "example": "10",
            "in": "query",
            "name": "bandwidth",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The duration the service was ordered for.",
            "example": "12",
            "in": "query",
            "name": "durationValue",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A unit of time such as days, weeks, months, and years. Value can be one of: d, w, m, y.",
            "example": "m",
            "in": "query",
            "name": "durationUnit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "Optional discount code.",
            "name": "discountCode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "The ID of the Company.",
            "example": "507f1f77bcf86cd799439011",
            "name": "companyId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GiaPricing-OneOff"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-Recurring"
                    },
                    {
                      "$ref": "#/components/schemas/GiaPricing-NoPrice"
                    }
                  ]
                },
                "examples": {
                  "prices-with-duration-greater-than-one-month": {
                    "summary": "prices with a duration greater than one month",
                    "value": {
                      "contractTotals": {
                        "giaCost": 3420,
                        "ipCosts": {
                          "ipv426Cost": 1596,
                          "ipv427Cost": 1140,
                          "ipv428Cost": 0,
                          "ipv429Cost": null,
                          "ipv430Cost": null
                        }
                      },
                      "unitCosts": {
                        "giaCost": 142.5,
                        "ipCosts": {
                          "ipv426Cost": 66.5,
                          "ipv427Cost": 47.5,
                          "ipv428Cost": 0,
                          "ipv429Cost": null,
                          "ipv430Cost": null
                        }
                      },
                      "contractTotalsAmountSaved": null,
                      "unitCostsAmountSaved": null,
                      "burstRate": 0.04681165489,
                      "duration": {
                        "unit": "m",
                        "value": 24
                      }
                    }
                  },
                  "prices-with-duration-less-than-one-month": {
                    "summary": "prices with duration less than one month",
                    "value": {
                      "onceOff": {
                        "giaCost": 73.97,
                        "ipCosts": {
                          "ipv426Cost": 34.52,
                          "ipv427Cost": 24.66,
                          "ipv428Cost": 0,
                          "ipv429Cost": null,
                          "ipv430Cost": null
                        }
                      },
                      "burstRate": 0.004050035038912062,
                      "duration": {
                        "unit": "d",
                        "value": 6
                      }
                    }
                  },
                  "no-prices": {
                    "summary": "no prices",
                    "value": {
                      "message": "No prices are available for GIA in the specified Port's Metro"
                    }
                  }
                }
              }
            },
            "description": "OK",
            "headers": {}
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-required": {
                    "summary": "company required",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "dcfId is a required argument"
                      }
                    }
                  },
                  "invalid-bandwidth": {
                    "summary": "invalid bandwidth",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Value is not a number."
                      }
                    }
                  },
                  "bandwidth-must-be-a-positive-number": {
                    "summary": "bandwidth must be a positive number",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Port bandwidth must be a positive integer in Mbps."
                      }
                    }
                  },
                  "duration-must-be-valid": {
                    "summary": "duration must be valid",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Value is not a number."
                      }
                    }
                  },
                  "duration-must-be-a-positive-number": {
                    "summary": "duration must be a positive number",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "2.1 is not a positive integer. Duration quantity must be a positive integer"
                      }
                    }
                  },
                  "durationUnit-must-be-valid-unit": {
                    "summary": "durationUnit must be a valid unit",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "x is not a valid duration unit. Valid units are: \"d\", \"w\", \"m\", \"y\""
                      }
                    }
                  },
                  "invalid-request": {
                    "summary": "invalid request",
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Invalid request for GIA pricing"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-not-found": {
                    "summary": "company not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A company can not be found with the given id"
                      }
                    }
                  },
                  "dcf-not-found": {
                    "summary": "dcf not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A data centre facility can not be found with the given id"
                      }
                    }
                  },
                  "unavailable": {
                    "summary": "unavailable",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "Gia Service is turned off now."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Pricing"],
        "description": "Get Internet On-Demand price for a specific DCF\n* **GIA Pricing Recurring** - Applicable charges for IO-D with service duration of *more* than a month.\n* **GIA Pricing OneOff** - Applicable charges for IO-D with service duration of *less* than a month.\n> **Note:** An error will be returned if there was no pricing found for a service with the desired bandwidth. Please contact your BDM or Support if this happens.",
        "operationId": "iod-pricing-by-DCF",
        "summary": "Internet on Demand - DCF"
      }
    },
    "/v2/pricing/gia/bulkByDcf": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Data Center Facility.",
            "example": "507f191e810c19729de860ea",
            "in": "query",
            "name": "dcfId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "priceRequests",
            "description": "An array of objects with the price request details as a JSON serialised string.",
            "required": true,
            "example": [
              {
                "bandwidth": 10,
                "durationValue": 2,
                "durationUnit": "y"
              },
              {
                "bandwidth": 10,
                "durationValue": 1,
                "durationUnit": "y"
              }
            ],
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bandwidth": {
                        "type": "number",
                        "description": ""
                      },
                      "durationValue": {
                        "type": "number",
                        "description": ""
                      },
                      "durationUnit": {
                        "type": "string",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/GiaPricing-Recurring"
                      },
                      {
                        "$ref": "#/components/schemas/GiaPricing-OneOff"
                      },
                      {
                        "$ref": "#/components/schemas/GiaPricing-NoPrice"
                      }
                    ]
                  }
                },
                "examples": {
                  "mixed-response": {
                    "summary": "mixed response",
                    "value": [
                      {
                        "contractTotals": {
                          "giaCost": 3420,
                          "ipCosts": {
                            "ipv426Cost": 1596,
                            "ipv427Cost": 1140,
                            "ipv428Cost": 0,
                            "ipv429Cost": null,
                            "ipv430Cost": null
                          }
                        },
                        "unitCosts": {
                          "giaCost": 142.5,
                          "ipCosts": {
                            "ipv426Cost": 66.5,
                            "ipv427Cost": 47.5,
                            "ipv428Cost": 0,
                            "ipv429Cost": null,
                            "ipv430Cost": null
                          }
                        },
                        "contractTotalsAmountSaved": null,
                        "unitCostsAmountSaved": null,
                        "burstRate": 0.04681165489,
                        "duration": {
                          "unit": "m",
                          "value": 24
                        }
                      },
                      {
                        "onceOff": {
                          "giaCost": 73.97,
                          "ipCosts": {
                            "ipv426Cost": 34.52,
                            "ipv427Cost": 24.66,
                            "ipv428Cost": 0,
                            "ipv429Cost": null,
                            "ipv430Cost": null
                          }
                        },
                        "burstRate": 0.004050035038912062,
                        "duration": {
                          "unit": "d",
                          "value": 6
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "company-not-found": {
                    "summary": "company not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "A company can not be found with the given id"
                      }
                    }
                  },
                  "unavailable": {
                    "summary": "unavailable",
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "Gia Service is turned off now."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Pricing"],
        "description": "Get Internet On-Demand prices for multiple DCFs in a single call.\n* **GIA Pricing Recurring** - Applicable charges for IO-D with service duration of *more* than a month.\n* **GIA Pricing OneOff** - Applicable charges for IO-D with service duration of *less* than a month.",
        "operationId": "iod-pricing-by-DCF-bulk",
        "summary": "Internet On-Demand - DCF (bulk)"
      }
    },
    "/v2/pricing/flex-iod/{giaServiceId}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the IoD service to flex.",
            "example": "ae913a22-d9ae-4022-9016-edb58575e39b",
            "in": "path",
            "name": "giaServiceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The desired bandwidth to flex the service to.",
            "example": "10",
            "in": "query",
            "name": "bandwidth",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional discount code.",
            "example": "20PERCENT",
            "in": "query",
            "name": "discountCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flexCharge": {
                      "type": "number",
                      "description": ""
                    },
                    "amountSaved": {
                      "type": "number"
                    }
                  },
                  "example": {
                    "flexCharge": 42.4,
                    "amountSaved": 0
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "response": {
                    "value": {
                      "error": {
                        "code": 422,
                        "message": "GiaService not found: ae913a22-d9ae-4022-9016-edb58575e39b"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "response": {
                    "value": {
                      "error": {
                        "code": 422,
                        "message": "Flex price is not available for the requested bandwidth for this service"
                      }
                    }
                  }
                }
              }
            },
            "description": "Unprocessable Entity\n\nNo Pricing is available for the service's metro.\n\nAn error will be returned if there was no pricing found for a flex to the desired bandwidth in this service's metro. If this happens, please contact your BDM or Support.",
            "headers": {}
          }
        },
        "tags": ["Pricing"],
        "description": "Retrieve flex pricing for Internet On-Demand services.",
        "operationId": "iod-flex-pricing",
        "summary": "Internet On-Demand - Flex"
      }
    },
    "/v2/pricing/l3vpn": {
      "post": {
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "companyId": "66eb1831e49462a7c87e097e",
                "bandwidth": "500MB",
                "duration": {
                  "unit": "m",
                  "value": 6
                },
                "sites": [
                  {
                    "priceRefId": "1",
                    "dcfId": "66eb183694742642e25edb64",
                    "rateLimit": {
                      "unit": "mbps",
                      "value": 100
                    },
                    "classOfService": [
                      {
                        "name": "BRONZE",
                        "value": 100
                      }
                    ],
                    "discountId": ""
                  }
                ],
                "discountCode": ""
              },
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "The ID of the company. You can check your companyId in your account on ***[Console Connect](https://www.consoleconnect.com/)*** website or you can query in ***[Auth](#tag/Auth/operation/GetLoggedInUser)*** API\n"
                  },
                  "bandwidth": {
                    "type": "string",
                    "description": "The desired bandwidth for the CloudRouter",
                    "enum": ["500MB", "1GB", "2.5GB", "5GB", "10GB", ">10GB"]
                  },
                  "duration": {
                    "$ref": "#/components/schemas/Duration"
                  },
                  "sites": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/CloudRouterPriceCalcSiteStandard"
                      },
                      {
                        "$ref": "#/components/schemas/CloudRouterPriceCalcSiteSIMPool"
                      }
                    ]
                  },
                  "discountCode": {
                    "type": "string",
                    "description": ""
                  }
                },
                "required": ["companyId", "bandwidth", "duration", "sites"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "baseL3vpnCost": {
                      "type": "number",
                      "description": ""
                    },
                    "totalContractCost": {
                      "type": "number",
                      "description": ""
                    },
                    "duration": {
                      "$ref": "#/components/schemas/Duration"
                    },
                    "sites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hourlyCost": {
                            "type": "number"
                          },
                          "dailyCost": {
                            "type": "number"
                          },
                          "monthlyCost": {
                            "type": "number"
                          },
                          "site": {
                            "$ref": "#/components/schemas/CloudRouterPriceCalcSiteStandard"
                          }
                        }
                      }
                    },
                    "baseL3vpnCostAmountSaved": {
                      "type": "number",
                      "description": ""
                    },
                    "totalContractCostAmountSaved": {
                      "type": "number",
                      "description": ""
                    },
                    "discount": {
                      "$ref": "#/components/schemas/Discount"
                    }
                  }
                },
                "examples": {
                  "price-on-application": {
                    "summary": "price on application",
                    "value": {
                      "totalContractCost": 1200,
                      "baseL3vpnCost": 200,
                      "duration": {
                        "from": null,
                        "to": null,
                        "unit": "m",
                        "value": 6
                      },
                      "sites": [
                        {
                          "site": {
                            "portId": "66eb1a9d2778c42f179cdd7d",
                            "dcfId": "66eb183694742642e25edb64",
                            "discountId": "",
                            "rateLimit": {
                              "unit": "MBPS",
                              "value": 100
                            },
                            "providerInfo": {
                              "dcfName": "sampleDcfName",
                              "dcfId": "66eb183694742642e25edb64",
                              "metroId": "66eb19f1007415be57b333d1",
                              "city": "Tokyo",
                              "country": "JP",
                              "countryDisplayName": "Japan"
                            }
                          },
                          "priceRefId": "1",
                          "prices": {
                            "BRONZE": {
                              "hourlyCost": 0,
                              "hourlyCostAmountSaved": null,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            },
                            "SILVER": {
                              "hourlyCost": 0,
                              "hourlyCostAmountSaved": null,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            },
                            "GOLD": {
                              "hourlyCost": 0,
                              "hourlyCostAmountSaved": null,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            }
                          }
                        }
                      ],
                      "baseL3vpnCostAmountSaved": null,
                      "totalContractCostAmountSaved": null,
                      "totalHourlySiteCostAmountSaved": 0,
                      "bandwidth": "500MB"
                    }
                  },
                  "with-sites": {
                    "summary": "with sites",
                    "value": {
                      "baseL3vpnCost": 100,
                      "totalContractCost": 200,
                      "duration": {
                        "1": "m"
                      },
                      "sites": [
                        {
                          "site": null,
                          "dcfId": "63241b384a42ce7e676819eb",
                          "rateLimit": {
                            "unit": "mbps",
                            "value": 100
                          },
                          "providerInfo": {
                            "dcfName": "brisbaneDcf",
                            "dcfId": "63241b384a42ce7e676819eb",
                            "metroId": "63241b384a42ce7e676819e2",
                            "city": "Brisbane",
                            "country": "AUS"
                          },
                          "priceRefId": 1,
                          "prices": {
                            "BRONZE": {
                              "hourlyCost": 0,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            },
                            "SILVER": {
                              "hourlyCost": 0,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            },
                            "GOLD": {
                              "hourlyCost": 0,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            }
                          }
                        }
                      ],
                      "bandwidth": "500MB"
                    }
                  },
                  "with-sites-and-discount": {
                    "value": {
                      "summary": "with sites and discounts",
                      "baseL3vpnCost": 100,
                      "totalContractCost": 200,
                      "duration": {
                        "1": "m"
                      },
                      "sites": [
                        {
                          "site": null,
                          "dcfId": "63241b384a42ce7e676819eb",
                          "rateLimit": {
                            "unit": "mbps",
                            "value": 100
                          },
                          "providerInfo": {
                            "dcfName": "brisbaneDcf",
                            "dcfId": "63241b384a42ce7e676819eb",
                            "metroId": "63241b384a42ce7e676819e2",
                            "city": "Brisbane",
                            "country": "AUS"
                          },
                          "priceRefId": 1,
                          "prices": {
                            "BRONZE": {
                              "hourlyCost": 0,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            },
                            "SILVER": {
                              "hourlyCost": 0,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            },
                            "GOLD": {
                              "hourlyCost": 0,
                              "dailyCost": 0,
                              "monthlyCost": 0
                            }
                          }
                        }
                      ],
                      "bandwidth": "500MB",
                      "baseL3vpnCostAmountSaved": 20,
                      "totalContractCostAmountSaved": 120,
                      "discount": {
                        "discountType": "percentage",
                        "marketingCode": "L3VPNDISCOUNT",
                        "duration": "recurring",
                        "applicableProducts": ["L3VPN"],
                        "redemptions": 10,
                        "value": 10,
                        "tierType": "none",
                        "id": "6327e43d773e329b467f1ee4",
                        "deletedAt": null,
                        "createdAt": "2022-09-19T03:38:37.812Z",
                        "updatedAt": "2022-09-19T03:38:37.813Z"
                      }
                    }
                  },
                  "without-sites": {
                    "summary": "without sites",
                    "value": {
                      "totalContractCost": null,
                      "baseL3vpnCost": null,
                      "duration": {
                        "unit": "m",
                        "value": 6
                      },
                      "sites": [],
                      "bandwidth": "500MB"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "validations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSchema"
                },
                "examples": {
                  "bandwidth-required": {
                    "summary": "bandwidth required",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "bandwidth is a required argument"
                      }
                    }
                  },
                  "bandwidth-invalid": {
                    "summary": "bandwidth invalid",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "Bandwidth must be one of (500MB,1GB,2.5GB,5GB,10GB,>10GB)"
                      }
                    }
                  },
                  "duration-required": {
                    "summary": "duration required",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "duration is a required argument"
                      }
                    }
                  },
                  "duration-invalid": {
                    "summary": "duration invalid",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "Duration should be in the format { unit: String, value: Number } where unit is one of \\\"m\\\" | \\\"y\\\" and value is a number greater than 0"
                      }
                    }
                  },
                  "duration-unit-invalid": {
                    "summary": "duration unit invalid",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "d is not a valid duration unit. Valid units are: \\\"m\\\", \\\"y\\\""
                      }
                    }
                  },
                  "duration-value-must-be-positive": {
                    "summary": "duration value must be positive",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "-6 is not a positive integer. Duration value must be a positive integer"
                      }
                    }
                  },
                  "duration-value-invalid": {
                    "summary": "duration value invalid",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "100 is not a valid quantity for duration unit: m. The maximum quantity for this unit is 36"
                      }
                    }
                  },
                  "dcfId-required": {
                    "summary": "dcfId required",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "dcfId is a required site field"
                      }
                    }
                  },
                  "rate-limit-not-valid": {
                    "summary": "rate limit not valid",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "Requested rateLimit is not valid. Please provide rateLimit in this format: {\\\"unit\\\": \\\"Mbps\\\", \\\"value\\\": 200}"
                      }
                    }
                  },
                  "rate-limit-must-be-a-positive-integer": {
                    "summary": "rate limit must be a positive integer",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "Requested rateLimit.value must be a number greater than 0"
                      }
                    }
                  },
                  "price-ref-id-must-a-string": {
                    "summary": "price ref id must be a string",
                    "value": {
                      "error": {
                        "statusCode": 400,
                        "name": "Error",
                        "message": "priceRefId must be a valid string"
                      }
                    }
                  },
                  "price-ref-id-must-be-unique": {
                    "summary": "price ref id must be unique",
                    "value": {
                      "error": {
[...]
