name: NodeJS/YARN Unit Tests

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  build:
    name: NodeJS/YARN Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "yarn"

      # Skip post-install scripts here, as a malicious
      # script could steal NODE_AUTH_TOKEN.
      - name: Install dependencies
        run: yarn

      - name: Install the App
        run: yarn install
        shell: bash
      - name: Lint the App
        run: yarn lint
        shell: bash
      - name: Build the App
        run: yarn build
        shell: bash
      - name: Test the App
        run: yarn test
        shell: bash

      - name: NPM Audit Scan and Generate Report in JSON Format
        run: yarn npm audit --json > npm-audit-results.json
        continue-on-error: true

      - name: Upload NPM Audit Scan Report to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: npm-audit-results
          path: npm-audit-results.json

      - name: SonarCloud Scan
        if: success() || failure()
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
